| {% if link %}
a(href="{{ link }}", title="Open link", target="_blank")
  img.media-embed-image(
    alt="{{ media.source_filename }}",
    src="{{ media.source.url }}")
| {% else %}
img.media-embed-image.expand(
  alt="{{ media.source_filename }}",
  class="js-media-expand",
  src="{{ media.source.url }}")
| {% endif %}
