| {% extends 'users/settings/page.html' %}

| {% block settings_page_title %}{{ _("Links") }}{% endblock %}
| {% block settings_page_content %}
.settings-form
	form#settings-form(method='POST', action="{{url_for('settings.links')}}")
		| {{ form.csrf_token }}
		.fieldset-container(data-toggle="fieldset" id="link-fieldset")
			button.btn.btn-success(
				type="button",
				data-toggle="fieldset-add-row",
				data-target="#link-fieldset"
			)
				| #[i.pi-plus] {{ _("Add Link") }}

			| {% for link in form.links %}
			.fieldset-row(data-toggle="fieldset-entry")
				.fieldset-field
					| {{ link.form.name(placeholder="Label") }}

					| {% if 'name' in link.form.errors %}
					| {% for error in link.form.errors['name'] %}
					.fieldset-row-error {{ error }}
					| {% endfor %}
					| {% endif %}

				.fieldset-field
					| {{ link.form.url(placeholder="URL") }}

					| {% if 'url' in link.form.errors %}
					| {% for error in link.form.errors['url'] %}
					.fieldset-row-error {{ error }}
					| {% endfor %}
					| {% endif %}

				| {{ link.csrf_token }}

				.fieldset-field-action
					button.btn.btn-danger(
						type="button",
						data-toggle="fieldset-remove-row",
						id="phone-{{loop.index0}}-remove"
					)
						i.pi-trash

			| {% endfor %}

			hr

			.buttons
				button.btn.btn-info(type='submit')
					i.pi-check
					| {{ _("Save Changes") }}

| {% endblock %}

| {% block footer_scripts %}
script.

	$(function () {
		$("div[data-toggle=fieldset]").each(function () {
			var $this = $(this);

			//Add new entry
			$this.find("button[data-toggle=fieldset-add-row]").click(function () {
				var target = $($(this).data("target"))
				var oldrow = target.find("div[data-toggle=fieldset-entry]:last");
				var row = oldrow.clone(true, true);

				var elem_id = row.find(":input")[0].id;
				var elem_num = parseInt(elem_id.replace(/.*-(\d{1,4})-.*/m, '$1')) + 1;
				row.attr('data-id', elem_num);
				row.find(":input").each(function () {
					var id = $(this).attr('id').replace('-' + (elem_num - 1) + '-', '-' + (elem_num) + '-');
					$(this).attr('name', id).attr('id', id).val('').removeAttr("checked");
				});

				oldrow.after(row);

				// Clean error fields in new rows
				row.find('.fieldset-row-error').remove();
			});

			//Remove row
			$this.find("button[data-toggle=fieldset-remove-row]").click(function () {
				if ($this.find("div[data-toggle=fieldset-entry]").length > 1) {
					var thisRow = $(this).closest("div[data-toggle=fieldset-entry]");
					thisRow.remove();
				}
			});
		});
	});
| {% endblock footer_scripts %}
