| {% extends 'layout.html' %}
include ../../../../pillar/src/templates/mixins/components

| {% block body %}
.container.mx-auto
	.row
		.col-md-3
			+nav-secondary()(class="nav-secondary-vertical bg-dark")
				+nav-secondary-link(
					class="{% if title == 'edit' %}active{% endif %}",
					href="{{ url_for('projects.edit', project_url=project.url) }}")
					i.pr-3.pi-list
					| Overview

				+nav-secondary-link(
					class="{% if title == 'sharing' %}active{% endif %}",
					href="{{ url_for('projects.sharing', project_url=project.url) }}")
					i.pr-3.pi-share
					| Sharing

				+nav-secondary-link(
					class="{% if title == 'edit_node_types' %}active{% endif %}",
					href="{{ url_for('projects.edit_node_types', project_url=project.url) }}")
					i.pr-3.pi-puzzle
					| Node Types

				| {% for ext in ext_pages %}
				+nav-secondary-link(
					class="{% if title == ext.name %}active{% endif %}",
					href="{{ url_for('projects.edit_extension', project_url=project.url, extension_name=ext.name) }}")
					i(class="pr-3 pi-{{ ext.icon }}")
					| {{ ext.name | title }}
				| {% endfor %}


		.col-md-9.bg-dark.rounded.p-3
			| {% block project_context %}{% endblock %}

| {% endblock %}
