doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title
			| {% if self.page_title() %}{% block page_title %}{% endblock %} — {% endif %}Dillo
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		| {% block head %}{% endblock %}
		link(href='//fonts.googleapis.com/css?family=Oxygen|Open+Sans', rel='stylesheet', type='text/css')
		link(href="{{ url_for('static_pillar', filename='assets/css/font-pillar.css', v=171120161) }}", rel='stylesheet')
		link(href="{{ url_for('static_dillo', filename='css/main.css', v=171120161) }}", rel='stylesheet')

		| {% block style %}{% endblock %}

	body({% block bodyattrs %}{%endblock%})
		#app-header
			#app-loader
			header#header-bar-pri
				a.app-branding(href="{{ url_for('posts.index') }}") Dillo
				.wgt-search
					input(
						id="q",
						type="text",
						placeholder="Search...")

				#categories.wgt-dropdown-toggle

				nav.nav-bar#header-bar-pri-user
					ul
						li
							a.wgt-toggle-fullscreen
								i.pi-resize-full
						| {% if current_user.is_authenticated %}
						li
							a.btn.submit(href="{{ url_for('posts.create') }}") SUBMIT POST

						li.nav-notifications
							a.navbar-item#notifications-toggle(
								title="Notifications",
								data-toggle="tooltip",
								data-placement="bottom")
								i.pi-notifications-none.nav-notifications-icon
								span#notifications-count
									span
								.flyout-hat

							#notifications.flyout.notifications
								.flyout-content
									span.flyout-title Notifications
									a#notifications-markallread(
										title="Mark All as Read",
										href="/notifications/read-all")
										| Mark All as Read

						li.dropdown.wgt-dropdown-toggle
							.dropdown-toggle
								img.avatar(
									src="{{ current_user.gravatar }}",
									alt="Avatar")

								.dropdown-toggle-icon
									i.pi-angle-down

							ul.dropdown-menu.right
								li
									a(
										href="{{ url_for('users.settings_profile') }}"
										title="Settings")
										i.pi-cog
										| Settings
								li
									a(
										href="{{ url_for('users.logout') }}")
										i.pi-log-out(title="Log Out")
										| Log out

						| {% else %}
						li
							a.btn.submit(href="{{ url_for('users.login') }}") SUBMIT POST
						li
							a.navbar-item.login(href="{{ url_for('users.login') }}")
								| Log in
						| {% endif %}

		#app-main
			| {% block body %}{% endblock body %}

		#app-overlay
		#notification-pop(data-url="", data-read-toggle="")
			.nc-progress
			a#pop-close(href="#", title="Dismiss")
				i.pi-cancel
			.nc-item
				//- .nc-avatar
				.nc-text
					span.nc-date
						a(href="")


		script(src="{{ url_for('static_pillar', filename='assets/js/vendor/jquery-3.1.0.min.js', v=171120161)}}")
		script(src="{{ url_for('static_pillar', filename='assets/js/tutti.min.js', v=171120161) }}")
		script(src="{{ url_for('static_pillar', filename='assets/js/markdown.min.js', v=171120161) }}")
		script(src="{{ url_for('static_dillo', filename='js/generated/tutti.min.js', v=171120161) }}")
		script(src="{{ url_for('static_dillo', filename='js/vendor/moment-2.18.1.min.js', v=171120161) }}")
		script(src="https://twemoji.maxcdn.com/2/twemoji.min.js?2.2.3")
		script(src='https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js')

		script.
			$('a.wgt-toggle-fullscreen').on('click', function(){
				$(this).toggleClass('active');
				$('#col_right').toggleClass('fullscreen');
			});

		| {% block footer_scripts %}{% endblock %}
