doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title
			| {% if self.page_title() %}{% block page_title %}{% endblock %} — {% endif %}Dillo
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		| {% block head %}{% endblock head %}
		link(href='//fonts.googleapis.com/css?family=Oxygen|Open+Sans', rel='stylesheet', type='text/css')
		link(href="{{ url_for('static_pillar', filename='assets/css/font-pillar.css', v=171120161) }}", rel='stylesheet')
		link(href="{{ url_for('static_dillo', filename='css/main.css', v=171120161) }}", rel='stylesheet')


		| {# Meta info for Open Graph and Twitter Cards #}
		meta(property="og:site_name", content="{{ config.SETTINGS_TITLE | safe }}")
		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:site" content="@{{ config.SETTINGS_TWITTER_USERNAME }}")
		| {% block og %}
		meta(name="twitter:creator" content="@{{ config.SETTINGS_TWITTER_USERNAME }}")
		meta(name="twitter:title" content="{{ config.SETTINGS_TITLE | safe }}")
		meta(name="twitter:description" content="{{ config.SETTINGS_TAGLINE }}")
		meta(property="og:description", content="{{ config.SETTINGS_TAGLINE }}")
		meta(name="twitter:image" content="{{ config.SETTINGS_LOGO_IMAGE }}")
		meta(property="og:image", content="{{ config.SETTINGS_LOGO_IMAGE }}")
		| {% endblock og %}

		| {% block style %}{% endblock style %}

	body({% block bodyattrs %}{%endblock%})
		#app-header
			#app-loader
			header#header-bar-pri
				a.app-branding(href="{{ url_for('posts.index') }}") Dillo
				.wgt-search
					input(
						id="q",
						type="text",
						placeholder="{{ _('Search...') }}")

				#list-categories.wgt-dropdown-toggle
				#list-refined-values

				nav.nav-bar#header-bar-pri-user
					ul
						li
							a.wgt-toggle-fullscreen
								i.pi-resize-full
						| {% if current_user.is_authenticated %}
						li
							.btn-group
								button.btn.btn-submit.wgt-toggle-submit(
								data-action="publish",
								title="{{ _('Submit a Link') }}")
									i.pi-link
									| {{ _('Submit Link') }}

								button.btn.btn-submit.wgt-dropdown-toggle
									i.pi-angle-down

									ul.dropdown-menu.right
										li
											a(
												href="{{ url_for('posts.create', post_type='text') }}",
												title="Submit a Text post")
												i.pi-document-text
												|  {{ _('Submit Text') }}

						li.nav-notifications
							a.navbar-item#notifications-toggle(
								title="Notifications",
								data-toggle="tooltip",
								data-placement="bottom")
								i.pi-notifications-none.nav-notifications-icon
								span#notifications-count
									span
								.flyout-hat

							#notifications.flyout.notifications
								.flyout-content
									span.flyout-title Notifications
									a#notifications-markallread(
										title="Mark All as Read",
										href="/notifications/read-all")
										| {{ _('Mark All as Read') }}

						li.dropdown.wgt-dropdown-toggle
							.dropdown-toggle
								img.avatar(
									src="{{ current_user.gravatar }}",
									alt="Avatar")

								.dropdown-toggle-icon
									i.pi-angle-down

							ul.dropdown-menu.right
								li
									a(
										href="{{ url_for('settings.profile') }}"
										title="Settings")
										i.pi-cog
										| {{ _("Settings") }}
								li
									a(
										href="{{ url_for('users.logout') }}")
										i.pi-log-out(title="Log Out")
										| {{ _("Log out") }}

						| {% else %}
						li
							.btn-group
								a.btn.btn-submit(
									href="{{ url_for('users.login') }}",
									data-action="publish",
									title="{{ _('Submit a Link')}}")
									i.pi-link
									| {{ _('Submit Link') }}

								button.btn.btn-submit.wgt-dropdown-toggle
									i.pi-angle-down

									ul.dropdown-menu.right
										li
											a(
												href="{{ url_for('users.login') }}",
												title="Submit a Text post")
												i.pi-document-text
												| {{ _('Submit Text') }}

						li
							a.navbar-item.login(href="{{ url_for('users.login') }}")
								| {{ _('Log in') }}
						| {% endif %}

		#app-main
			| {% block body %}{% endblock body %}

		#app-overlay
			.overlay-background
			.dialog-box
				| Are you logged in?

		#notification-pop(data-url="", data-read-toggle="")
			.nc-progress
			a#pop-close(href="#", title="Dismiss")
				i.pi-cancel
			.nc-item
				.nc-text
					| No Notifications


		script(src="{{ url_for('static_pillar', filename='assets/js/vendor/jquery-3.1.0.min.js', v=171120161)}}")
		script(src="{{ url_for('static_pillar', filename='assets/js/tutti.min.js', v=171120161) }}")
		script(src="{{ url_for('static_pillar', filename='assets/js/markdown.min.js', v=171120161) }}")
		script(src="{{ url_for('static_dillo', filename='js/generated/tutti.min.js', v=171120161) }}")
		script(src="{{ url_for('static_dillo', filename='js/vendor/moment-2.18.1.min.js', v=171120161) }}")
		script(src="https://twemoji.maxcdn.com/2/twemoji.min.js?2.2.3")
		script(src='https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js')

		script.
			$(document).ready(function() {
				{% if current_user.is_authenticated %}
					getNotificationsLoop(); // Check for new notifications in the background

					// Resize #notifications and change overflow for scrollbars
					$(window).on("resize", function() { notificationsResize(); });
				{% endif %}
			});

		| {% block footer_scripts %}{% endblock footer_scripts %}
