doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title
			| {% if self.page_title() %}{% block page_title %}{% endblock %}— {% endif %}
			| {{ project.name }}
			| {% if project._id != main_project._id %} — {{ main_project.name }}{% endif %}

		| {% block head %}{% endblock head %}
		link(href='//fonts.googleapis.com/css?family=Oxygen|Open+Sans', rel='stylesheet', type='text/css')
		link(href="{{ url_for('static_pillar', filename='assets/css/font-pillar.css', v=171120161) }}", rel='stylesheet')

		| {% block style %}
		style(type="text/css").
			:root {
				--community-theme-accent: #00b7bf
			}
		| {% endblock style %}

		script(src="{{ url_for('static_dillo', filename='js/vendor/js-cookie-2.1.4.min.js', v=171120161) }}")


		link(rel='stylesheet', title="light", type="text/css", href="{{ url_for('static_dillo', filename='css/main.css') }}")
		link(disabled, rel='alternate stylesheet', title="dark", type="text/css", href="{{ url_for('static_dillo', filename='css/main_dark.css') }}")

		script.
			if (Cookies.get('theme') == 'dark'){
				document.getElementsByTagName("link").item(3).disabled = false;
			};

		link(rel="icon", type="image/png", href="{{ url_for('static_dillo', filename='images/favicon.png', v=2112015) }}")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		| {% if config['GOOGLE_SITE_VERIFICATION'] %}
		meta(name="google-site-verification" content="{{ config['GOOGLE_SITE_VERIFICATION'] }}")
		| {% endif %}

		| {# Meta info for Open Graph and Twitter Cards #}
		meta(property="og:site_name", content="{{ project.name }}")
		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:site" content="@{{ config.SETTINGS_TWITTER_USERNAME }}")
		| {% block og %}
		meta(name="twitter:creator" content="@{{ config.SETTINGS_TWITTER_USERNAME }}")
		meta(name="twitter:title" content="{{ project.name }}")
		meta(name="twitter:description" content="{{ project.summary }}")
		meta(property="og:description", content="{{ project.summary }}")
		| {% if project.picture_header %}
		meta(name="twitter:image" content="{{ project.picture_header.thumbnail('h') }}")
		meta(property="og:image", content="{{ project.picture_header.thumbnail('h') }}")
		| {% endif %}
		| {% endblock og %}

	body({% block bodyattrs %}{%endblock%})
		#app-header
			#app-loader

			| {% block header %}
			.d-header
				| {% if project.picture_header %}
				.d-header-background(
					style="background-image: url({{ project.picture_header.thumbnail('h') }});")
				| {% endif %}

				| {% if project.picture_square %}
				a.d-header-logo(
					href="{{ url_for('posts.index', community_url=project.url) }}")
					img(src="{{ project.picture_square.thumbnail('l') }}")
				| {% else %}
				a.d-header-logo.no-logo(
					href="{{ url_for('posts.index', community_url=project.url) }}")
					i.pi-grin
				| {% endif %}

				.d-communities
					.flyout.communities
						.flyout-hat
						.flyout-content
							a.flyout-title(href="{{ url_for('posts.index_all') }} ")
								| {{ main_project.name }}
							ul
								| {% for community in communities %}
								li
									a.d-communities-item(
										href="{{ url_for('posts.index', community_url=community.url) }}",
										title="{{ community.name }}")
										| {% if community.picture_square %}
										.d-header-logo
											img(src="{{ community.picture_square.thumbnail('l') }}")
										| {% else %}
										.d-header-logo.no-logo
											i.pi-grin
										| {% endif %}

										.d-communities-info
											span.title {{ community.name }}
											span.summary {{ community.summary }}
								| {% endfor %}

				.d-header-title
					a.title(href="{{ url_for('posts.index', community_url=project.url) }}")
						span {{ project.name }}

				.d-header-action.refine
					nav.nav-bar
						ul
							li
								#list-refined-values
								#list-categories.wgt-dropdown-toggle
							li
								.wgt-search
									.wgt-search-icon
										i.pi-search
									input(
										id="q",
										type="text",
										placeholder="{{ _('Search...') }}")

				.d-header-toggle-nav
					i.pi-menu

				.d-header-action
					nav.nav-bar
						ul
							| {% if current_user.is_authenticated %}
							| {% block submit_btn %} {% endblock %}

							li.nav-notifications
								a.nav-item#notifications-toggle(
									title="Notifications",
									data-toggle="tooltip",
									data-placement="bottom")
									i.pi-notifications-none.nav-notifications-icon
									span#notifications-count
										span
									.flyout-hat

								#notifications.flyout.notifications
									.flyout-content
										span.flyout-title Notifications
										a#notifications-markallread(
											title="Mark All as Read",
											href="/notifications/read-all")
											| {{ _('Mark All as Read') }}

										| {% include '_notifications.html' %}

							li.dropdown.wgt-dropdown-toggle
								.nav-item.dropdown-toggle
									img.avatar(
										src="{{ current_user.gravatar }}",
										alt="Avatar")

									.dropdown-toggle-icon
										i.pi-angle-down

								ul.dropdown-menu.right
									li
										a.theme-toggle(
											title="{{ _('Turn off the lights') }}")
											i.pi-moon
											| {{ _("Night Mode") }}
									li
										a(
											href="{{ url_for('settings.profile') }}"
											title="Settings")
											i.pi-cog
											| {{ _("Settings") }}
									li
										a(
											href="{{ url_for('users.logout') }}")
											i.pi-off(title="Log Out")
											| {{ _("Log out") }}

							| {% else %}
							li
								a.nav-item.theme-toggle(
									title="{{ _('Turn off the lights') }}")
									i.pi-moon
							li
								.btn-group.submit
									a.btn.btn-submit(
										href="{{ url_for('users.login') }}",
										title="{{ _('Submit a Link [Shift+A]')}}")
										i.pi-link
										span {{ _('Submit Link') }}

									button.btn.btn-submit.wgt-dropdown-toggle
										i.pi-angle-down

										ul.dropdown-menu.right
											li
												a(
													href="{{ url_for('users.login') }}",
													title="{{ _('Write a Post') }}")
													i.pi-document-text
													|  {{ _('Write a Post') }}

							li
								a.nav-item.login(href="{{ url_for('users.login') }}")
									| {{ _('Log in') }}
							| {% endif %}

					#list-refined-values
			| {% endblock header %}

		#app-main
			| {% block body %}{% endblock body %}

		#app-overlay
			.overlay-background
			.dialog-box
				| {% if project.extension_props.dillo %}
				.dialog-placeholder
					i.pi-spin.spin
				| {% endif %}

		#notification-pop(data-url="", data-read-toggle="")
			.nc-progress
			a#pop-close(href="#", title="Dismiss")
				i.pi-cancel
			.nc-item
				.nc-text
					| {{ _('No Notifications') }}


		script(src="{{ url_for('static_pillar', filename='assets/js/vendor/jquery-3.1.0.min.js', v=171120161)}}")
		script(src="{{ url_for('static_pillar', filename='assets/js/tutti.min.js', v=171120161) }}")
		script(src="{{ url_for('static_pillar', filename='assets/js/markdown.min.js', v=171120161) }}")
		script(src="{{ url_for('static_dillo', filename='js/generated/tutti.min.js', v=171120161) }}")
		script(src="{{ url_for('static_dillo', filename='js/vendor/moment-2.18.1-with-locales.min.js', v=171120161) }}")
		script.
			moment.locale("{{ g.get('locale', 'en_US') }}");
		script(src="https://twemoji.maxcdn.com/2/twemoji.min.js?2.2.3")
		script(src='https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js')

		script.
			$(document).ready(function() {
				{% if current_user.is_authenticated %}
					// Check for new notifications in the background
					getNotificationsLoop();

					// Resize #notifications and change overflow for scrollbars
					$(window).on("resize", function() { notificationsResize(); });
				{% endif %}
			});

		| {% block footer_scripts %}{% endblock footer_scripts %}
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', '{{ config.GOOGLE_ANALYTICS_TRACKING_ID }} ', 'auto', {'allowAnchor': true});
			ga('send', 'pageview');
