| {% for facet_name, facet in facets.items() %}
| {% set active_filters_list = filters.get(facet_name, []) %}
.list-facet(class="js-move-facet {{ facet_name }}")
	select(
		id="js-facet-{{ facet_name }}",
		class="js-facet js-styleselect",
		title="{{ facet['label'] }}",
		data-filter="{{ facet['filter'] }}")

		option(value="", selected) All {{ facet['label'] }}
		| {% for facet_value in facet['items'] %}

		| {% if active_filters_list and (facet_value['_id'] in active_filters_list) %}
		option(value="{{ facet_value['_id'] }}", selected) {{ facet_value['_id'] }} ({{ facet_value['count'] }})
		| {% else %}
		option(value="{{ facet_value['_id'] }}") {{ facet_value['_id'] }} ({{ facet_value['count'] }})
		| {% endif %}
		| {% endfor %}
| {% endfor %}

| {% for post in posts %}

| {% if post.properties.post_type == 'link' %}
| {% set is_link = true %}
| {% endif %}

| {% set rating = (post.properties.rating_positive - post.properties.rating_negative) %}
| {% set post_url = url_for('posts.view', community_url=post.project.url, post_shortcode=post.properties.shortcode) %}

| {% if post.properties.status_dev %}
| {% set custom_status = post.properties.status_dev %}
| {% endif %}

| {% if rating > 6 %}
| {% set is_hot = true %}
| {% endif %}

//- URL of the communities where to not show tags.
| {% set hide_tags = ['jobs', 'events'] %}

.list-hits-item.d-flex.mx-2.mb-2(
	class="js-item-open {% if custom_status %}{{ custom_status }}{% endif %} {% if is_hot %}is-hot{% endif %}",
	id="item-{{ post._id }}",
	data-id="{{ post._id }}",
	data-url="{{ post_url }}")
	| {% if post.picture %}
	a.item-thumbnail(href="{{ post_url }}")
		img(src="{{ post.picture.thumbnail('l') }}")
	| {% endif %}

	.item-content.d-flex.pb-1(data-node-id="{{ post._id }}")
		.item-details.pl-3
			ul.item-details-header.px-0.py-1.m-0
				| {% if not is_community_listing %}
				li
					a.js-follow-link(href="{{ url_for('posts.index', community_url=post.project.url) }}")
						| {{ post.project.name  }}
				| {% endif %}

				//- GraphicAll
				| {% if post.properties.operating_system %}
				li(title="{{ post.properties.operating_system }}")
					| {{ post.properties.operating_system }}
				| {% endif %}

				//- Jobs, Events
				| {% if post.properties.location %}
				li(title="{{ post.properties.location }}")
					| {{ post.properties.location }}
				| {% endif %}

				//- Jobs
				| {% if post.properties.contract %}
				li(title="{{ post.properties.contract }}")
					| {{ post.properties.contract }}
				| {% endif %}

				| {% if post.project.url not in hide_tags %}
				| {% if post.properties.tags %}
				li(title="{% for tag in post.properties.tags %}{{ tag }}{{ ', ' if not loop.last }}{% endfor %}").
					{# Display two tags max in the list. #}
					{% for tag in post.properties.tags[:2] %}
						{{ tag }}{{ ", " if not loop.last }}{{ "..." if loop.last and (post.properties.tags | length) > 2 }}
					{% endfor %}
				| {% endif %}
				| {% endif %}

			a.item-title(
				href="{{ post_url }}")
				| {{ post.name }}

			ul.px-0.py-1.m-0
				| {% if rating > 0 %}
				li
					| {{ rating }}
					| {% if is_hot %}
					i(title="Hot Stuff").pi-fire.text-danger
					| {% else %}
					i.pi-heart-filled.text-secondary
					| {% endif %}
				| {% endif %}

				li
					a(href="{{ post_url }}")
						| {% if post.properties.comments_count %}
						| {{ post.properties.comments_count }} #[i.pi-comment]
						| {% else %}
						| comment
						| {% endif %}

				//- If the file has been updated, show that instead of creation date.
				| {% if post.properties.download_updated %}
				li.item-date.js-item-open
					a(
						title="{{ _('Updated') }} {{ post.properties.download_updated }}",
						href="{{ post_url }}")
						| #[span {{ post.properties.download_updated | pretty_date }}]
				| {% else %}
				li.item-date.js-item-open
					a(href="{{ post_url }}",
						title="{{ _('Created') }} {{ post._created }}")
						| {{ post._created | pretty_date_time }}
				| {% endif %}

				| {% if is_link %}
				li.d-none.d-sm-inline-block
					a.text-muted(
						class="js-url-cleanup js-follow-link",
						href="{{ post.properties.content }}",
						target="_blank")
						| {{ post.properties.content }}
				| {% endif %}

				| {% if post.properties.status_dev %}
				li(title="Development Status: {{ post.properties.status_dev }}")
					| {% if post.properties.status_dev == 'Done' %}
					span.text-success #[i.pi-check] {{ post.properties.status_dev }}
					| {% elif post.properties.status_dev == 'In Development' %}
					span.text-warning {{ post.properties.status_dev }}
					| {% else %}
					| {{ post.properties.status_dev }}
					| {% endif %}
				| {% endif %}

| {% endfor %}

| {% if not is_last_page %}
.d-flex.p-3.pb-4
	button.btn.w-75.m-auto(
		class="js-load-next-page",
		data-next-page="{{ metadata['page'] + 1 }}")
		| Load More Posts
| {% endif %}

| {% if not posts %}
.d-flex.text-muted
	.p-5.m-auto No posts found.
| {% endif %}

script.
	//- Nicer dropdowns for tags/selects.
	$('.js-styleselect').select2();

	//- Clean URLs.
	$('.js-url-cleanup').each(function(){
		url = this.href;
		$(this).text(parse_hostname(url));
	});

	//- Emoji!
	twemoji.parse(document.getElementById('list-hits'));
