| {% for facet_name, facet in facets.items() %}
select(
	id="js-facet-{{ facet_name }}",
	class="js-facet",
	title="{{ facet['label'] }}",
	data-filter="{{ facet['filter'] }}")

	| {% for facet_value in facet['items'] %}
	option(value="{{ facet_value['_id'] }}") {{ facet_value['_id'] }} {{ facet_value['count'] }}
	| {% endfor %}
| {% endfor %}

| {% for post in posts %}

| {% if post.properties.post_type == 'link' %}
| {% set is_link = true %}
| {% endif %}

| {% if post.properties.rating_positive or post.properties.rating_negative %}
| {% set is_positive = 'negative' %}
| {% if post.properties.rating_positive %}
| {% set is_positive = 'positive' %}
| {% endif %}
| {% endif %}

| {% set rating = (post.properties.rating_positive - post.properties.rating_negative) %}
| {% set post_url = url_for('posts.view', community_url=post.project, post_shortcode=post.properties.shortcode) %}

.list-hits-item(
	class="{% if post.user == (current_user.user_id | string) %}is-own{% endif %}",
	id="item-{{ post._id }}",
	data-id="{{ post._id }}",
	data-url="{{ post_url }}")
	a.item-thumbnail(
		href="{{ post_url }}",
		class="js-item-open {% if post.picture %}has-thumbnail{% endif %} {% if is_link %}is-link{% endif %}")
		.item-thumbnail-picture
			| {% if post.picture %}
			img(src="{{ post.picture.thumbnail('m') }}")
			| {% endif %}

	.item-content(data-node-id="{{ post._id }}")
		.item-details.pl-3
			ul.item-details-header
				| {% if is_main_project %}
				li
					| {{ post['project'] }}
				| {% endif %}

				| {% if post.properties.tags %}
				li(title="{% for tag in post.properties.tags %}{{ tag }}{{ ', ' if not loop.last }}{% endfor %}").
					{# Display two tags max in the list. #}
					{% for tag in post.properties.tags[:2] %}
						{{ tag }}{{ ", " if not loop.last }}{{ "..." if loop.last and (post.properties.tags | length) > 2 }}
					{% endfor %}
				| {% endif %}

			a.item-title(
				href="{{ post_url }}",
				class="js-item-open")
				| {{ post.name }}

			ul.pb-2
				| {% if rating > 5 %}
				li(title="Hot Stuff")
					i.pi-fire.text-danger
				| {% endif %}

				| {% if is_link %}
				li.item-favicon
					a(href="{{ post.properties.content }}", target="_blank")
						img(
							title="Link",
							src="https://www.google.com/s2/favicons?domain={{ post.properties.content }}")
				| {% endif %}

				li.item-date.js-item-open.js-convert-date
					a(href="{{ post_url }}")
						| {{ post._created | pretty_date_time }}

				li.item-author
					a(href="{{ url_for('users.users_view', username=post.user) }}") {{ post.user }}

| {% endfor %}

| {% if not is_last_page %}
script.
	document.getElementById("col_main").setAttribute("data-next-page", "{{ metadata['page'] + 1 }}");
| {% endif %}

script.
	twemoji.parse(document.getElementById('list-hits'));
