| {% extends 'layout.html' %}
| {% block page_title %}{{ user.full_name }} {% endblock %}
| {% set page_name = 'posts-index' %}

| {% block bodyattrs %}
| {{ super() }}
| class='{{ page_name }} {% if current_user.is_authenticated %}logged-in{% endif %}' data-context='{{ page_name }}'
| {% endblock bodyattrs %}

| {% block body %}

#col_main.listing-list
	#list-hits
		| {% for post in posts %}

		| {% if post.properties.post_type == 'link' %}
		| {% set is_link = true %}
		| {% endif %}

		| {% if post.properties.rating_positive or post.properties.rating_negative %}
		| {% set is_positive = 'negative' %}
		| {% if post.properties.rating_positive %}
		| {% set is_positive = 'positive' %}
		| {% endif %}
		| {% endif %}

		| {% set rating = (post.properties.rating_positive - post.properties.rating_negative) %}
		| {% set post_url = url_for('posts.view', community_url=post.project.url, post_shortcode=post.properties.shortcode) %}

		| {% if post.properties.status_dev %}
		| {% set custom_status = post.properties.status_dev %}
		| {% endif %}

		| {% if rating > 6 %}
		| {% set is_hot = true %}
		| {% endif %}

		.list-hits-item.d-flex.mx-2.mb-2(
			class="js-item-open {% if custom_status %}{{ custom_status }}{% endif %} {% if is_hot %}is-hot{% endif %}",
			id="item-{{ post._id }}",
			data-id="{{ post._id }}",
			data-url="{{ post_url }}")
			| {% if post.picture %}
			a.item-thumbnail(href="{{ post_url }}")
				img(src="{{ post.picture.thumbnail('l') }}")
			| {% endif %}

			.item-content.d-flex.pb-1(data-node-id="{{ post._id }}")
				.item-details.pl-3
					ul.item-details-header.px-0.py-1.m-0
						//- TODO: Missing project.
						//- li
						//- 	a.js-follow-link(href="{{ url_for('posts.index', community_url=post.project.url) }}")
						//- 		| {{ post.project.name  }}

						| {% if post.properties.operating_system %}
						li(title="{{ post.properties.operating_system }}")
							| {{ post.properties.operating_system }}
						| {% endif %}

						| {% if post.properties.tags %}
						li(title="{% for tag in post.properties.tags %}{{ tag }}{{ ', ' if not loop.last }}{% endfor %}").
							{# Display two tags max in the list. #}
							{% for tag in post.properties.tags[:2] %}
								{{ tag }}{{ ", " if not loop.last }}{{ "..." if loop.last and (post.properties.tags | length) > 2 }}
							{% endfor %}
						| {% endif %}

					a.item-title(
						href="{{ post_url }}")
						| {{ post.name }}

					ul.px-0.py-1.m-0
						| {% if rating > 0 %}
						li
							| {{ rating }}
							| {% if is_hot %}
							i(title="Hot Stuff").pi-fire.text-danger
							| {% else %}
							i.pi-heart-filled.text-secondary
							| {% endif %}
						| {% endif %}

						li
							a(href="{{ post_url }}")
								| {% if post.properties.comments_count %}
								| {{ post.properties.comments_count }} #[i.pi-comment]
								| {% else %}
								| comment
								| {% endif %}

						li.item-date.js-item-open
							a(href="{{ post_url }}")
								| {{ post._created | pretty_date_time }}

						| {% if is_link %}
						li.d-none.d-sm-inline-block
							a.text-muted(
								class="js-url-cleanup js-follow-link",
								href="{{ post.properties.content }}",
								target="_blank")
								| {{ post.properties.content }}
						| {% endif %}

						| {% if post.properties.status_dev %}
						li(title="Development Status: {{ post.properties.status_dev }}")
							| {% if post.properties.status_dev == 'Done' %}
							span.text-success #[i.pi-check] {{ post.properties.status_dev }}
							| {% elif post.properties.status_dev == 'In Development' %}
							span.text-warning {{ post.properties.status_dev }}
							| {% else %}
							| {{ post.properties.status_dev }}
							| {% endif %}
						| {% endif %}
		| {% endfor %}

	.listing-list-info
		#list-stats
		#list-pagination

#col_right.listing-view
	#list-item
		.welcome
			.user-dashboard
				a.user-dashboard-avatar(href="{{ url_for('users.users_view', username=user.username )}}")
					img(src="{{ user.email | gravatar(size=128) }}")

				.user-dashboard-info
					.user-dashboard-name
						| {{ user.full_name }}
					a.user-dashboard-username(href="{{ url_for('users.users_view', username=user.username )}}")
						| @{{ user.username }}

					.user-dashboard-info-extra
						| {% if user.extension_props_public.dillo.links %}
						.user-dashboard-links
							ul
								| {% for link in user.extension_props_public.dillo.links %}
								li
									a(href="{{ link.url }}", target="_blank")
										img.favicon(src="https://www.google.com/s2/favicons?domain={{ link.url }}", alt="Favicon")
										| {{ link.name }}
								| {% endfor %}
						| {% endif %}

						.user-dashboard-meta
							ul
								li
									| {{ _('Joined') }} #[span.date.js-convert-date {{ user._created }}]
								li
									| {{ _('Last seen') }} #[span.date.js-convert-date {{ user._updated }}]
								li
									| {{ user.extension_props_public.dillo.karma }} Karma

								| {% if current_user and current_user.user_id == user._id %}
								a.user-dashboard-edit(href="{{ url_for('settings.profile') }}")
									| {{ _("Edit profile") }}
								| {% endif %}


			.d-activity
				| {% if col_right['activities']['_meta']['total'] %}
				ul
					| {% for act in col_right['activities']['_items'] %}
					| {% if act.link and act['actor_user']['email'] %}
					li
						a(href="{{ act.link }}")
							img.actor-avatar(src="{{ act['actor_user']['email'] | gravatar }}", alt="{{ _('Avatar') }}")
							span.date(title="{{ act._created }}") {{ act._created | pretty_date }}
							span.actor {{ act['actor_user']['full_name'] }}
							span.verb {{ act.verb }}
					| {% endif %}
					| {% endfor %}
				| {% else %}
				p {{ _('No activity... yet!') }}
				| {% endif %}

| {% endblock body %}

| {% block footer_scripts %}
script.
	$(document).ready(function(){
		//- Clean URLs.
		$('.js-url-cleanup').each(function(){
			url = this.href;
			$(this).text(parse_hostname(url));
		});

		//- Emoji!
		twemoji.parse(document.getElementById('list-hits'));
	});

| {% endblock footer_scripts %}
