| {% extends 'layout.html' %}
| {% block page_title %}{{ user.full_name }} {% endblock %}
| {% set page_name = 'posts-index' %}

| {% block bodyattrs %}
| {{ super() }}
| class='{{ page_name }} {% if current_user.is_authenticated %}logged-in{% endif %}' data-context='{{ page_name }}'
| {% endblock bodyattrs %}

| {% block body %}

#col_main.listing-list
	#list-hits
		| {% for post in posts %}

		| {% if post.properties.post_type == 'link' %}
		| {% set is_link = true %}
		| {% endif %}

		| {% if post.properties.rating_positive or post.properties.rating_negative %}
		| {% set is_positive = 'negative' %}
		| {% if post.properties.rating_positive %}
		| {% set is_positive = 'positive' %}
		| {% endif %}
		| {% endif %}

		| {% set rating = (post.properties.rating_positive - post.properties.rating_negative) %}
		| {% set post_url = url_for('posts.view', community_url=post.project.url, post_shortcode=post.properties.shortcode) %}

		.list-hits-item(
			class="{% if post.user == (current_user.user_id | string) %}is-own{% endif %}",
			id="item-{{ post._id }}",
			data-id="{{ post._id }}",
			data-url="{{ post_url }}")
			a(
				href="{{ post_url }}",
				class="item-thumbnail js-item-open {% if post.picture %}has-thumbnail{% endif %} {% if is_link %}is-link{% endif %}")
				.item-thumbnail-picture
					| {% if post.picture %}
					img(src="{{ post.picture.thumbnail('m') }}")
					ea
					| {% endif %}

			.item-content(data-node-id="{{ post._id }}")
				div(class="item-rating-box {% if is_positive %} rated {{is_positive}} {% endif %}")
					.item-rating.up
						i.pi-angle-up
					.item-rating.value
						| {{ rating }}

					.item-rating.down
						i.pi-angle-down

				.item-details
					a(
						href="{{ post_url }}",
						class="item-title js-item-open")
							| {{ post.name }}
					ul
						| {% if is_link %}
						li.item-favicon
							a(href="{{ post.properties.content }}", target="_blank")
								img(
									title="Link",
									src="https://www.google.com/s2/favicons?domain={{ post.properties.content }}")
						| {% endif %}


						li.item-date.js-item-open.js-convert-date
								a(href="{{ post_url }}")
									| {{ post._created }}

						li.item-author
							a(href="{{ url_for('users.users_view', username=user.username )}}")
								| {{ user.full_name }}

						li.
							{% for tag in post.properties.tags %}
								{{ tag }}{{ ", " if not loop.last }}
							{% endfor %}

		| {% endfor %}

	.listing-list-info
		#list-stats
		#list-pagination

#col_right.listing-view
	#list-item
		.welcome
			.user-dashboard
				a.user-dashboard-avatar(href="{{ url_for('users.users_view', username=user.username )}}")
					img(src="{{ user.email | gravatar(size=128) }}")

				.user-dashboard-info
					.user-dashboard-name
						| {{ user.full_name }}
					a.user-dashboard-username(href="{{ url_for('users.users_view', username=user.username )}}")
						| @{{ user.username }}

					| {% if user.extension_props_public.dillo.links %}
					.user-dashboard-links
						ul
							| {% for link in user.extension_props_public.dillo.links %}
							li
								a(href="{{ link.url }}", target="_blank")
									img.favicon(src="https://www.google.com/s2/favicons?domain={{ link.url }}", alt="Favicon")
									| {{ link.name }}
							| {% endfor %}
					| {% endif %}

				.user-dashboard-meta
					ul
						li
							strong Karma:
							| {{ user.extension_props_public.dillo.karma }}
						li
							strong {{ _('Last seen') }}:
							span.date.js-convert-date {{ user._updated }}
						li
							strong {{ _('Joined') }}:
							span.date.js-convert-date {{ user._created }}



			.d-activity
				| {% if col_right['activities']['_meta']['total'] %}
				ul
					| {% for act in col_right['activities']['_items'] %}
					| {% if act.link and act['actor_user']['email'] %}
					li
						a(href="{{ act.link }}")
							img.actor-avatar(src="{{ act['actor_user']['email'] | gravatar }}", alt="{{ _('Avatar') }}")
							span.date(title="{{ act._created }}") {{ act._created | pretty_date }}
							span.actor {{ act['actor_user']['full_name'] }}
							span.verb {{ act.verb }}
					| {% endif %}
					| {% endfor %}
				| {% else %}
				p {{ _('No activity... yet!') }}
				| {% endif %}

| {% endblock body %}

| {% block footer_scripts %}
script.

	$(document).ready(function(){

		// Parse dates using momentjs
		$('.js-convert-date').each(function(e){
			var $item_date = $('.js-convert-date').eq(e);
			var text = $item_date.text();
			$item_date.text(moment(text).fromNow());
		});

		twemoji.parse(document.body);
	});

| {% endblock footer_scripts %}
