| {% macro communities_list(communities) %}
ul.list-unstyled
	| {% for community in communities %}
	li
		a.d-communities-item(
			href="{{ url_for('posts.index', community_url=community.url) }}",
			title="{{ community.name }}")
			| {% if community.picture_square %}
			.d-header-logo
				img(src="{{ community.picture_square.thumbnail('l') }}", alt="{{ community.name }} logo")
			| {% else %}
			.d-header-logo.no-logo
				i.pi-grin
			| {% endif %}

			.d-communities-info
				span.title {{ community.name }}
				span.summary {{ community.summary }}
	| {% endfor %}

	li.d-communities-suggest
		a.d-communities-item(
			href="mailto:contact@blender.community",
			title="{{ _('Build Your Own Community') }}")
			.d-communities-info
				span.title {{ _('Build Your Own Community') }}
				span.summary.
					{{ _('We welcome international users or specialized Blender groups.Tell us why your community belongs here.') }}
| {% endmacro %}

| {% macro communities_list_sidebar(main_project, communities, project) %}
ul.d-communities-sidebar
	| {% set is_main_project_active = (project._id == main_project._id) %}
	li(class="{% if is_main_project_active %}is-active{% endif%}")
		a.py-1.pr-2.d-block(
			href="/c/",
			title="{{ main_project.name }}")
			.d-header-logo
				img(src="{{ main_project.picture_square.thumbnail('l') }}", alt="{{ main_project.name }} logo")
	| {% for community in communities %}
	| {% set is_active = (project._id == community._id) %}
	li(class="{% if is_active %}is-active{% endif%}")
		a.py-1.pr-2.d-block(
			href="{{ url_for('posts.index', community_url=community.url) }}",
			title="{{ community.name }}")
			| {% if community.picture_square %}
			.d-header-logo
				img(src="{{ community.picture_square.thumbnail('l') }}", alt="{{ community.name }} logo")
			| {% else %}
			.d-header-logo.no-logo
				i.pi-grin
			| {% endif %}
	| {% endfor %}

	//- Hide the toggle for all communities until we have more.
		li.js-toggle-communities-flyout.mt-2
			i.pi-angle-right.h2.p-1
| {% endmacro %}
