| {% load i18n %}

.nav-tabbar-items
  a.btn(
    href="{% url 'short-list' %}",
    class="{% ifequal '/shorts/' request.get_full_path %}active{% endifequal %}")
    span {% trans 'Top Shorts' %}
  a.btn(
    href="{% url 'short-list' %}?sort=recent",
    class="{% ifequal '/shorts/?sort=recent' request.get_full_path %}active{% endifequal %}")
    span {% trans 'Most Recent' %}

  .btn-toolbar-row
    | {% if request.user.is_authenticated %}
    a.btn(
      href="{% url 'short-list' %}?submitted-by={{ request.user.pk }}",
      class="{% if '?submitted-by' in request.get_full_path %}active{% endif %}")
      span {% trans 'My Shorts' %}
    | {% endif %}

    a.btn-cta(
      href="{% url 'short-create' %}",
      class="{% if '/shorts/submit/' in request.path_info %}active{% endif %}")
      span {% trans 'Submit Short' %}
