| {% extends "dillo/base_columns.pug" %}
| {% load i18n %}
| {% load micawber_tags %}
| {% load thumbnail %}


| {% block stream_nav %}
.nav-tabbar
  | {% block stream_nav_items %}
  | {% include 'dillo/shorts/_navigation_short.pug' %}
  | {% endblock stream_nav_items %}

  | {% include 'dillo/components/_pagination.pug' with page=page_obj label="Short" %}
| {% endblock stream_nav %}


| {% block stream %}
| {% if object_list %}
.row.cards-row
  | {% for short in object_list %}
  .col
    .post-container
      a.post-media-item-grid(
        href="{% url 'short-detail' short.pk %}?{{ sort }}")

        | {% thumbnail short.image "640x360" crop="center" as im %}
        img.media-thumbnail(
          src="{{ im.url }}",
          width="{{ im.width }}",
          height="{{ im.height }}",
          alt="{{ post.user }}")
        | {% endthumbnail %}

      .post-grid-details
        .post-grid-info.large
          a.post-author(href="{% url 'short-detail' short.pk %}?{{ sort }}")
            span {{ short.title }}

          a.post-grid-meta
            //- Likes.
            | {% if short.likes.count %}
            span  #[i.i-heart] {{ short.likes.count }}
            | {% endif %}

  | {% endfor %}
| {% else %}
.post-list-empty
  | {% url 'short-create' as url_short_create %}
  | {% blocktrans with url_short_create=url_short_create %}
  p No shorts yet. #[a(href="{{ url_short_create }}") Submit your short film!]
  | {% endblocktrans %}
| {% endif %}
| {% endblock stream %}

| {% block stream_width %}12{% endblock %}
