| {% load thumbnail %}

a.profile-avatar-container(
  class="{{ is_link_disabled }}",
  data-placement="{% if tooltip %}{{ tooltip }}{% endif %}",
  data-toggle="{% if tooltip %}tooltip{% endif %}",
  href="{% url 'community-detail' community.slug %}",
  title="{{ community.name }}")

  //- There are 4 avatar sizes available:
  //- small   - for comments
  //- default
  //- medium  - for lists e.g: likes
  //- large   - for profiles
  .profile-avatar(
    class="{% if size %}avatar-size-{{ size }}{% endif %}")
    | {% thumbnail community.logo "128x128" crop="center" as im %}
    img(
      src="{{ im.url }}",
      width="{{ im.width }}",
      height="{{ im.height }}",
      alt="{{ community.name }}")
    | {% empty %}
    i.i-user
    | {% endthumbnail %}
