| {% extends "dillo/base_columns.pug" %}
| {% load i18n %}
| {% load dillo_filters %}
| {% load thumbnail %}

| {% block page_title %}{{ job.title }} &mdash; {% trans 'Job post on' %} {% endblock page_title %}

| {% block stream %}
.container
	.card
		.card-header
			.d-flex
				.d-inline-block
					a.btn.btn-link(href="{% url 'job-list' %}", title="{% trans 'All Jobs' %}")
						i.i-chevron-left
						| {% trans 'See All Jobs' %}
				.ml-auto
					| {% if job.user == request.user %}
					| {% url 'job-update' job.pk as edit_url %}
					| {% trans 'Edit Job' as edit_label %}
					| {% include 'dillo/components/_button_edit.pug' with url=edit_url label=edit_label %}
					| {% endif %}

			h1.pt-3 {{ job.title }}

		.card-body
			.lead {{ job.description | markdown | safe }}

			small.text-muted(title="{{ job.created_at }}")
				| Posted {{ job.created_at | timesince | shorten_timesince }} ago
| {% endblock stream %}

| {% block sidebar %}
.sidebar-block
	.text-center
		| {% thumbnail job.image "150x150" crop="top" as im %}
		a(target="_blank",
			href="{{ job.url_apply }}",
			title='{% trans "Apply Now" %}')
			img.rounded-circle(
				src="{{ im.url }}",
				width="{{ im.width }}",
				height="{{ im.height }}",
				alt="{{ job.company }}")
		| {% endthumbnail %}

		h3.py-3 {{ job.company }}

	ul.sidebar-list
		li(title="{% trans 'Contract Type' %}")
			i.i-jobs
			| {{ job.contract_type | title }}

		li(title="{% trans 'Location' %}")
			a(href="https://www.google.com/maps/place/{{ job.city | slugify }}+{{ job.country | slugify}}", target="_blank")
				i.i-map-pin
				| {{ job.city }}
				| {% if job.province_state %}, {{ job.province_state }}{% endif %}
				| {{ job.country }}

		li
			i.i-home
			| {% if job.is_remote_friendly %}{% trans 'Remote Friendly' %}{% else %}{% trans 'On-site' %}{% endif %}

		| {% if job.studio_website %}
		li(title="{% trans 'Company Website' %}")
			a(href="{{ job.studio_website }}", target="_blank")
				i.i-link
				| {{ job.studio_website | website_hostname }}
		| {% endif %}

		| {% if job.starts_at %}
		li
			i.i-events
			| Starting {{ job.starts_at }}
		| {% endif %}

	a.btn.btn-primary.btn-sidebar(
		href="{{ job.url_apply }}",
		title='{% trans "Apply Now" %}')
		i.i-check
		strong {% trans "Apply Now" %}

.sidebar-block
	| {% include 'dillo/components/_button_share.pug' with shared_object_label='job' %}

| {% if request.user.is_superuser %}
.sidebar-block
	| {% url 'admin:dillo_job_change' job.id as edit_url %}
	| {% trans 'Whoosh Job' as edit_label %}
	| {% include 'dillo/components/_button_edit.pug' with url=edit_url label=edit_label %}
| {% endif %}

.sidebar-block
	| {% include 'dillo/components/_footer.pug' %}
| {% endblock sidebar %}
