| {% extends "dillo/base.pug" %}
| {% load i18n %}
| {% load dillo_filters %}
| {% load thumbnail %}
| {% load pipeline %}

//- | {% block page_title %}{{ job.title }} &mdash; {% trans 'Job post on' %} {% endblock page_title %}

| {% block head_extra %}
style.
  :root {
    --community-theme-color: {{ community.theme_color }};
  }
| {% endblock head_extra %}

| {% block content-header %}
header.app-main-header
  .header-title
    span
      a(href="{% url 'community-detail' community.slug %}") {{ community.name }}

    //- XXX - Use button_follow template.
    | {% include 'dillo/components/_button_generic.pug' with label="Follow" icon='i-follow' %}

  .header-action-bar
    .form-group
      input.form-control(placeholder="Search...")

    .btn.btn-primary
      span Submit News
| {% endblock content-header %}

| {% block content %}
#app.app-main-content
  .app-feed
    .app-feed-toolbar
      | {% if community.categories %}
      .form-group
        select.form-control(title="{% trans 'Category' %}")
          | {% for category in community.categories.all %}
          option(value="{{ category.slug }}") {{ category.name }}
          | {% endfor %}
      | {% endif %}

    ul.posts-list
      li(v-for="post in posts")
        post-list-item(
          v-bind:post="post")

  .app-detail
    .container
      .card
        .card-body
          .detail-header
            | {% if community.logo %}
            | {% include 'dillo/communities/_community_avatar.pug' with community=community size='large' %}
            | {% endif %}
            div
              h1 {{ community.name }}
              p {{ community.tagline }}

              //- Social Links.
              .profile-social
                | {% for community_link in community.links.all %}
                | {% firstof community_link.social 'Website' as social_site %}
                a.btn.btn-icon(
                  data-toggle="tooltip",
                  href="{{ community_link.url }}",
                  target="_blank",
                  title="{{ social_site | title }}")
                  span
                    i(class="i-{% firstof community_link.social 'link' %}")
                | {% endfor %}

                div
                  .btn.btn-primary
                    span Follow


          p {{ community.description | markdown | safe }}

| {% endblock content %}


| {% block javascript_extra %}
| {% verbatim %}

script(type="text/x-template", id="post-list-item-template")
  .post-list-item(
    @click="toggleActive",
    :class="{'is-hot': post.isHot, 'is-active':isActive}")
    .post-list-item-thumbnail
    .post-list-item-content
      .post-list-item-header
        ul
          li(v-for="category in post.categories") {{ category }},

      .post-list-item-title
        | {{ post.title }}
      .post-list-item-meta
        ul
          li.item-points
            | {{ post.likesCount }}
            i.i-fire(v-if="post.likesCount > 12", title="Hot Stuff")
            i.i-fire(v-else, title="Likes")
          li
            a(href='POST-URL-WITH-COMMENTS-ANCHOR')
              span(v-if="post.commentsCount > 0") {{ post.commentsCount }}
                i.i-comment
              span(v-else) comment
          li.item-date.js-item-open
            a(
              href='POST-URL',
              title='Updated Wed, 30 Dec 2020 21:49:35 GMT')
              span 5h ago

script(type="text/x-template", id="button-counter-template")
  button(v-on:click="count++") You clicked me {{ count }} times.

| {% endverbatim %}
| {% javascript 'vue_post_list' %}
| {% endblock javascript_extra %}
