| {% extends 'dillo/layout.html' %}
| {% block bodyattrs %}{{ super() }} data-context='post-edit'{% endblock %}
| {% block page_title %}Edit{% endblock %}

| {% block body %}

#col_main
	.item-edit-form

		ul.item-edit-tabs
			li(
				class="{% if node.properties.post_type == 'link' %}active{% endif %}",
				data-post-type='link')
				span LINK
				small I want to share a link
			li(
				class="{% if node.properties.post_type == 'text' %}active{% endif %}",
				data-post-type='text')
				span TEXT
				small I'll write a nice article

		.item-edit-header
			.item-edit-header-action
				button.cancel(type="submit") Cancel
				button#item-save.publish() Save

		.item-edit-tab(
			class="link {% if node.properties.post_type == 'link' %}active{% endif %}")
			form(
			id="item-edit-form",
			method="POST",
			enctype="multipart/form-data",
			action="{{url_for('nodes.edit', node_id=node._id)}}")

				input.item-title(
					id="input-item-title",
					value="{{ node.name }}",
					type="text",
					name="name",
					placeholder="Awesome Post Title")

				textarea(
					id="input-item-description",
					placeholder="Paste or type the URL here")
					| {{ node.properties.content }}


				select(
					id="input-item-category",
					name="category")
					option Community
					option Artwork

				input(
					id="input-item-file",
					name="file",
					type="file")

				select(
					id="post_type",
					class="post_type",
					name="post_type")
					option(value="link") Link
					option(value="text") Text

		.item-edit-tab(
			class="text {% if node.properties.post_type == 'text' %}active{% endif %}")
			form(
			id="item-edit-form",
			method="POST",
			enctype="multipart/form-data",
			action="{{ url_for('nodes.edit', node_id=node._id) }}")

				input.item-title(
					id="input-item-title",
					value="{{ node.name }}",
					type="text",
					placeholder="Post Title")

				textarea(
					id="input-item-description",
					placeholder="Witty description of your post.")
					| {{ node.properties.content }}
				a(href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet")
					| Markdown Cheatsheet


				select(
					id="input-item-category")
					option Community
					option Artwork

				input(
					id="input-item-file",
					type="file")

				select(
					id="post_type",
					class="post_type",
					name="post_type")
					option(value="link") Link
					option(value="text", selected) Text


		hr
		.item-edit-stuff

			| {% for field in form %}

			| {% if field.name == 'csrf_token' %}
			| {{ field }}
			| {% elif field.type == 'HiddenField' %}
			| {{ field }}
			| {% else %}

			| {% if field.name == 'post_type' %}
			| {{ field.name | undertitle }} {{ field }}
			| {% endif %}

			| {% endif %}
			| {% endfor %}

#col_right.listing-view.item-edit-view
	.item-media
		i.pi-play

	.item-content(
		id="{{ node._id }}",
		data-node-id="{{ node._id }}")
		.item-rating-box(
			class="{% if node._current_user_rating is not none %}rated{% if node._current_user_rating %} positive{% else %} negative{% endif %}{% endif %}"
		)
			.item-rating.up
				i.pi-angle-up
			.item-rating.value {{ node.properties.rating_positive - node.properties.rating_negative }}
			.item-rating.down
				i.pi-angle-down
		.item-details
			a#item-title.item-title {{ node.name }}
			ul
				li {{ node.properties.category | undertitle }}
				li {{ node._created | pretty_date }}
				li {{ node.user.full_name }}

				| {% if node.properties.post_type == 'link' %}
				li {{ node.description }}
				| {% endif %}

	| {% if node.properties.post_type == 'text' %}
	.item-body#item-description
		| {{ node.description | safe }}
	| {% endif %}
| {% endblock body %}

| {% block footer_scripts %}
script.
	// Markdown initialization
	var convert = new Markdown.getSanitizingConverter();
	Markdown.Extra.init(convert);
	convert = convert.makeHtml;

	// Convert Markdown and emojis for text and title
	$(function() {
		var item_title_input = $('#input-item-title');
		var item_description_input = $('#input-item-description');

		item_title_input.keyup(function() {
			$('#item-title').html(
				twemoji.parse(
					item_title_input.val()
				)
			);
		}).trigger('keyup');

		item_description_input.keyup(function() {
			$('#item-description').html(
				twemoji.parse(
					convert(
						item_description_input.val()
					)
				)
			);
		}).trigger('keyup');


		/* Resize textareas */
		item_description_input
			.autoResize()
			.blur();
	});

	/* Submit changes */
	$("#item-edit-form").unbind("submit").submit(function(e) {
		e.preventDefault();

		$.ajax({
			url: "{{url_for('nodes.edit', node_id=node._id)}}",
			data: $(this).serialize(),
			type: 'POST'
		});

		console.log($(this).serialize());
	});

	$('#item-save').click(function(e){
		e.preventDefault();
		console.log('something');
		$("#item-edit-form").submit();
	});

| {% endblock footer_scripts %}
