| {% extends "dillo/account_edit_base.pug" %}

| {% load i18n %}
| {% load crispy_forms_tags %}
| {% load account %}

| {% block head_title %}{% trans "Account" %}{% endblock %}
| {% block content_account_edit_form %}
.card-header
	h1 {% trans "E-mail Addresses" %}

.card-body
	| {% if user.emailaddress_set.all %}
	p {% trans 'The following addresses are associated with your account:' %}
	form.profile-edit-email(action="{% url 'account_email' %}", method='post')
		| {% csrf_token %}
		fieldset
			| {% for emailaddress in user.emailaddress_set.all %}
			.custom-control.custom-radio
				input.custom-control-input(
					id='email_radio_{{forloop.counter}}',
					type="radio", name="email",
					checked="{% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked{%endif %}",
					value="{{emailaddress.email}}"
					)
				label.custom-control-label(
					for="email_radio_{{forloop.counter}}",
					class="{% if emailaddress.primary %}primary_email{%endif%}")
					span {{ emailaddress.email }}

					.badges-row-inline
						| {% if emailaddress.primary %}
						span.badge-pill.badge-info {% trans "Primary" %}
						| {% endif %}

						| {% if emailaddress.verified %}
						span.badge-pill.badge-success {% trans "Verified" %}
						| {% else %}
						span.badge-pill.badge-warning {% trans "Unverified" %}
						| {% endif %}

			| {% endfor %}

			.btn-toolbar-row
				button.btn.btn-primary(type='submit', name='action_primary')
					span {% trans 'Make Primary E-mail' %}

				button.btn.btn-secondary(type='submit', name='action_send')
					span {% trans 'Re-send Verification' %}

				button.btn.btn-danger(type='submit', name='action_remove')
					span {% trans 'Remove' %}
	| {% else %}
	| {% blocktrans %}
	.alert.alert-warning
		span Warning: You currently do not have any e-mail address set up.
	p You should really add an e-mail address so you can reset your password, receive notifications, etc.
	| {% endblocktrans %}
	| {% endif %}

	hr

	h2 {% trans "Add E-mail Address" %}

	form.add_email(method='post', action="{% url 'account_email' %}")
		| {% csrf_token %}
		| {{ form | crispy }}

		.card-cta
			button.btn.btn-primary(name='action_add', type='submit')
				span {% trans "Add E-mail" %}
| {% endblock %}

| {% block extra_body %}
script(type='text/javascript').
	(function() {
	var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
	var actions = document.getElementsByName('action_remove');
	if (actions.length) {
	actions[0].addEventListener("click", function(e) {
	if (! confirm(message)) {
	e.preventDefault();
	}
	});
	}
	})();
| {% endblock %}
