
.item-view(class="{{ node.properties.post_type }}")
	.item-view-header
		.item-content(
			id="{{ node._id }}",
			data-node-id="{{ node._id }}")
			.item-rating-box(
				class="{% if node._current_user_rating is not none %}rated{% if node._current_user_rating %} positive{% else %} negative{% endif %}{% endif %}"
			)
				.item-rating.up
					i.pi-angle-up
				.item-rating.value {{ node.properties.rating_positive - node.properties.rating_negative }}
				.item-rating.down
					i.pi-angle-down
			.item-details
				| {% if node.properties.post_type == 'link' %}
				a#item-title.item-title(
					href="{{ node.properties.content }}"
					target="_blank") {{ node.name }}
				| {% else %}
				span#item-title.item-title {{ node.name }}
				| {% endif %}
				ul
					li#item-category {{ node.properties.category | undertitle }}
					li {{ node._created | pretty_date }}
					li {{ node.user.full_name }}

					| {% if current_user.is_authenticated and (node.user._id == current_user.objectid) %}
					li.item-edit
						a(href="{{ url_for('nodes.edit', node_id=node['_id']) }}") edit post
					| {% endif %}


	| {% if node.properties.post_type == 'text' %}
	.item-body#item-content
		.item-body-text
			| {{ node.properties.content_html }}
	| {% if node.picture %}
	.item-media#item-media
		img(src="{{ node.picture.thumbnail('l', api=api) }}")
	| {% endif %}
	| {% endif %}

	| {% if node.properties.post_type == 'link' and not node.properties.content_html %}
	.item-body#item-content
		a.item-link-data(
			href="{{ node.properties.content }}",
			target="_blank",
			title="Visit URL")
			img.favicon(src="http://www.google.com/s2/favicons?domain={{ node.properties.content }}")
			| {{ node.properties.content }}
	| {% endif %}


	// If it's a link with oembed support
	| {% if node.properties.post_type == 'link' and node.properties.content_html %}
	.item-media#item-media
		| {{ node.properties.content_html | safe }}
	| {% endif %}

	#item-comments
		#comments-embed

script.
	var body = document.getElementsByTagName("body")[0];
	var context = body.getAttribute('data-context');

	if (context != 'post-edit'){
		loadComments("{{ url_for('nodes.comments_for_node', node_id=node._id) }}");
	}

	if (context == 'posts-index'){
		var onRenderHandler = function() {
			// Set item on the list as active
			var item = '#item-{{ node._id }}';
			$(item).addClass('active');
		}

		search.on('render', onRenderHandler);
	}

	// Parse emojis
	$('#item-title').html(twemoji.parse('{{ node.name }}'));

	{% if node.properties.post_type == 'text' %}
		var item_content = $('#item-content');
		item_content.html(twemoji.parse(item_content.text()));
	{% endif %}

	{% if node.properties.post_type == 'link' %}
		$('#item-link-url').text(shortenUrl('{{ node.properties.content }}'));
	{% endif %}
