
| {% if (current_user.user_id | string) == node.user._id %}
| {% set is_own = 'is-own' %}
| {% endif %}
.item-view(
	class="{{ node.properties.post_type }} {{ is_own }}")
	.item-view-header
		span.item-view-close.js-toggle-fullscreen(title="{{ _('Close Fullscreen') }}")
			i.pi-cancel-circle

		.item-content(
			id="{{ node._id }}",
			data-node-id="{{ node._id }}")

			.item-rating-box(
				class="{% if node._current_user_rating is not none %}rated {% if node._current_user_rating %}positive{% else %}negative{% endif %}{% endif %}")
				.item-rating.up
					i.pi-angle-up
				.item-rating.value {{ node.properties.rating_positive - node.properties.rating_negative }}
				.item-rating.down
					i.pi-angle-down

			.item-details
				| {% if node.properties.post_type == 'link' %}
				a#item-title.item-title(
					href="{{ node.properties.content }}"
					target="_blank") {{ node.name }}
				| {% else %}
				span#item-title.item-title {{ node.name }}
				| {% endif %}
				ul
					li#item-category {{ node.properties.category | undertitle }}
					li
						a.item-date(href="{{ url_for('posts.view', community_url=project.url, post_shortcode=node.properties.shortcode, _external=True) }}")
							| {{ node._created | pretty_date }}
					li
						a(href="{{ url_for('users.users_view', username=node.user.username )}}")
							| {{ node.user.full_name }}


	| {% if node.properties.post_type == 'text' %}
	.item-body#item-content
		.item-body-text
			| {{ node.properties.content_html }}
	| {% if node.picture %}
	.item-media#item-media
		img(src="{{ node.picture.thumbnail('l', api=api) }}")
	| {% endif %}
	| {% endif %}

	| {% if node.properties.post_type == 'link' and not node.properties.content_html %}
	.item-body#item-content
		| {% if node.properties.content %}
		a.item-link-data(
			href="{{ node.properties.content }}",
			target="_blank",
			title="Visit URL")
			img.favicon(src="https://www.google.com/s2/favicons?domain={{ node.properties.content }}")
			| {{ node.properties.content }}
		| {% else %}
		span.item-link-data There should be content here.
		| {% endif %}
	| {% endif %}

	| {# If it's a link with oembed support #}
	| {% if node.properties.post_type == 'link' and node.properties.content_html %}
	.item-media.oembed#item-media
		| {{ node.properties.content_html | safe }}
	| {% endif %}

	.item-info-panel
		.item-info-op
			a.op-avatar(href="{{ url_for('users.users_view', username=node.user.username )}}")
				img(src="{{ node.user.email | gravatar }}")

			.op-details
				a.op-name(href="{{ url_for('users.users_view', username=node.user.username )}}")
					| {{ node.user.full_name }}
				.op-karma Karma: {{ node.user.extension_props_public.dillo.karma }}

		.item-info-action
			a.wgt-toggle-fullscreen.js-toggle-fullscreen(title="{{ _('Toggle Fullscreen') }}")
				i.pi-resize-full
			| {% if current_user.is_authenticated and (node.user._id == current_user.objectid) %}
			a.item-edit(href="{{ url_for('nodes.edit', node_id=node['_id']) }}")
				i.pi-edit
				| {{ _('Edit Post') }}
			| {% endif %}
			a.social(
				title="{{ _('Share on Facebook') }}",
				href="https://www.facebook.com/sharer/sharer.php?u={{ node.name }}%20{{ url_for('posts.view', community_url=project.url, post_shortcode=node.properties.shortcode, _external=True) }}",
				target="_blank")
				i.pi-social-facebook
				| {{ _('Share') }}

			a.social(
				title="{{ _('Share on Twitter') }}",
				href="https://twitter.com/home?status={{ node.name }} @{{ config.SETTINGS_TWITTER_USERNAME }} {{ url_for('posts.view', community_url=project.url, post_shortcode=node.properties.shortcode, _external=True) }} %23b3d" ,
				target="_blank")
				i.pi-social-twitter
				| {{ _('Tweet') }}

	#item-comments
		#comments-embed

script.

	var context = ProjectUtils.context();

	if (context != 'post-edit'){
		loadComments("{{ url_for('nodes.comments_for_node', node_id=node._id) }}");
	}

	if (context == 'posts-index'){
		var onRenderHandler = function() {
			// Set item on the list as active
			var item = '#item-{{ node._id }}';
			$(item).addClass('active');
		}

		search.on('render', onRenderHandler);
	}

	var page_title = '{{ node.name }} — {{ main_project.name }}';
	DocumentTitleAPI.set_page_title(page_title);

	// Parse emojis (very important! :) and date with momentjs (so it gets translations)
	$('#item-title').html(twemoji.parse('{{ node.name }}'));
	$('a.item-date').text(moment('{{ node._created }}').fromNow());

	{% if node.properties.post_type == 'text' %}
		var item_content = $('#item-content');
		item_content.html(twemoji.parse(item_content.text()));
	{% endif %}

	{% if node.properties.post_type == 'link' %}
		$('#item-link-url').text(shortenUrl('{{ node.properties.content }}'));
	{% endif %}

	// If the parameter ?fs is in the url, go imax!
	if ('fs' in urlParams){
		enterFullscreen();
	}

	ga('send', 'pageview', location.pathname);
