| {% extends "dillo/base_columns.pug" %}
| {% load i18n %}
| {% load thumbnail %}

| {% block page_title %}{% trans 'Animation Events' %} {% trans 'on' %} {% endblock page_title %}

| {% block stream %}
| {% if events %}
.e-events-large
  | {% for event in events %}
  .e-event
    | {% thumbnail event.image "1280x720" crop="center" as im %}
    a.card-thumbnail(href="{% url 'event_detail' slug=event.slug %}", title="{{ event.name }}")
      img(
        src="{{ im.url }}",
        width="{{ im.width }}",
        height="{{ im.height }}",
        alt="{{ event.name }}")
    | {% endthumbnail %}


    .e-event-info
      a.e-event-date(href="{% url 'event_detail' slug=event.slug %}")
        figure
          span.month {{ event.starts_at | date:"M" | upper }}
          span.day {{ event.starts_at | date:"d" }}

      div
        a.e-event-title(href="{% url 'event_detail' slug=event.slug %}")
          | {{ event.name }}

        | {% if event.location or event.is_online %}
        .location
          | {% if event.is_online %}
          | {% include 'dillo/components/_badge_online.pug' %}
          | {% elif event.location %}
          i.i-map-pin
          | {{ event.location }}
          | {% endif %}
        | {% endif %}

        | {% if event.attendees.all %}
        .going
          i.i-users
          | {% if event.attendees.all.count == 1 %}{{ event.attendees.all | first }} is going{% endif %}
          | {% if event.attendees.all.count == 2 %}{{ event.attendees.all | join:" and " }} are going{% endif %}
          | {% if event.attendees.all.count > 2 and event.attendees.all.count < 8 %}{{ event.attendees.all | join:", " }} are going{% endif %}
        | {% endif %}
  | {% endfor %}

| {% else %}
.post-list-empty.with-text
  p There are no events in the near future. #[br] Feel free to #[a(href="{% url 'event-create' %}") create a new event]!
| {% endif %}

| {% endblock stream %}

| {% block sidebar %}

.sidebar-block
  | {% url 'event-create' as btn_create_url %}
  | {% trans 'Add an Event' as btn_label %}
  | {% include 'dillo/components/_button_generic.pug' with url=btn_create_url label=btn_label class="btn-primary btn-wide" %}

| {% if request.user.is_staff %}
.sidebar-block
  a.btn.btn-admin.btn-wide(href="/admin/dillo/event/", title='Events')
    i.i-coffee
    span Events
| {% endif %}

//- TODO: Filters for events.

| {% if trending_tags %}
.sidebar-block.feed-trending
  | {% include 'dillo/components/_feed_trending.pug' %}
| {% endif %}

.sidebar-block
  | {% include 'dillo/components/_footer.pug' %}
| {% endblock sidebar %}

| {% block site_footer %}{% endblock %}

| {% block base_classes %}events-list{% endblock base_classes %}
