| {% extends "dillo/base_columns.pug" %}
| {% load i18n %}
| {% load dillo_filters %}
| {% load thumbnail %}

| {% block page_title %}{{ event.name }} &mdash; {% trans 'Animation Event on' %}{% endblock page_title %}

| {% block stream %}
.item-detail-container
	.item-detail-header
		h1 {{ event.name }}
	.item-detail-body
		| {{ event.description | markdown_with_shortcodes | safe  }}
| {% endblock stream %}

| {% block sidebar %}
.sidebar-block
	| {% thumbnail event.image "512" crop="center" as im %}
	| {% if event.website %}
	a.sidebar-header-image(
		href="{{ event.website }}",
		target="_blank")
		img(
			src="{{ im.url }}",
			width="{{ im.width }}",
			height="{{ im.height }}",
			alt="{{ event.name }}")
	| {% else %}
	.sidebar-header-image
		img(
			src="{{ im.url }}",
			width="{{ im.width }}",
			height="{{ im.height }}",
			alt="{{ event.name }}")
	| {% endif %}
	| {% endthumbnail %}

	ul.sidebar-list
		li(title="{% trans 'Event Date' %}")
			i.i-events
			| {{ event.starts_at|date }}
			| {% if event.starts_at|date != event.ends_at|date %}
			#[span · ] {{ event.ends_at|date }}
			| {% endif %}

		| {% if event.location or event.is_online %}
		li
			| {% if event.is_online %}
			span
				i.i-tv
				| Online Event
			| {% endif %}
			| {% if event.location %}
			a(title="{% trans 'Location' %}",
				href="https://www.google.com/maps/place/{{ event.location | slugify }}", target="_blank")
				i.i-map-pin
				| {{ event.location }}
			| {% endif %}
		| {% endif %}

		| {% if event.website %}
		li
			a(title="{% trans 'Website' %}", href="{{ event.website }}", target="_blank")
				i.i-link
				| {{ event.website | website_hostname }}
		| {% endif %}

		| {% if event.attendees.all %}
		li
			i.i-users
			| {{ event.attendees.all.count }} going

	.event-attendees
		//- TODO(Francesco): Open modal with list of attendees.
		| {% for attendee in event.attendees.all %}
		| {% if forloop.counter < 6 %}
		| {% include 'dillo/components/_profile_avatar.pug' with user=attendee %}
		| {% endif %}
		| {% endfor %}
	| {% endif %}

	| {% include 'dillo/components/_button_attend.pug' with event=event %}

hr

.sidebar-block
	| {% include 'dillo/components/_button_share.pug' with shared_object_label='event' show_label=true class="btn-wide" %}

| {% if request.user.is_superuser %}
hr

.sidebar-block
	| {% url 'admin:dillo_event_change' event.id as edit_url %}
	| {% trans 'Edit Event' as edit_label %}
	| {% include 'dillo/components/_button_generic.pug' with url=edit_url label=edit_label icon='i-edit' class="btn-admin btn-wide" %}
| {% endif %}

//- TODO(Pablo): Show more/related events.

.sidebar-block
	| {% include 'dillo/components/_footer.pug' %}

| {% endblock sidebar %}

| {% block site_footer %}{% endblock %}
