a.btn.btn-wide(
  class="js-show-modal {{ class }}",
  data-modal_category='form',
  data-modal_title='{{ label }}',
  data-content_url="{{ url }}",
  data-toggle='modal',
  data-target='#modal',
  href="{{ url }}",
  title="{{ label }}")
  span {{ label }}
