a.btn(
  class="{{ class }}",
  href="{{ url }}",
  title="{{ label }}",
  target="{% if external %}_blank{% endif %}",
  rel="{% if external %}noopener noreferrer{% endif %}")
  span
    {% if icon %}
    i(class="{{ icon }}")
    span {{ label }}
    {% else %}
    | {{ label }}
    {% endif %}
