| {% load activity_tags %}
| {% if request.user.is_authenticated %}
| {% if request.user != target_object %}
a.btn(
  class="js-follow-toggle {% if request.user|is_following:target_object %}btn-unfollow{% endif %} {{ class }}",
  data-follow_toggle_label="{% if request.user|is_following:target_object %}Follow{% else %}Unfollow{% endif %}",
  href="{% follow_url target_object %}",
  )
  span
    i(class="{% if not tag %}{% if request.user|is_following:target_object %}i-user-minus{% else %}i-user-plus{% endif %}{% endif %}")
    | {% if not icon_only %}
    span {% if request.user|is_following:target_object %}Unfollow{% else %}Follow{% endif %}{% if tag %} Hashtag{% endif %}
    | {% endif %}
| {% endif %}
| {% else %}
a.btn.btn-primary-alt(
  class="{{ class }}",
  href="{% follow_url target_object %}")
  span
    i.i-user-plus
    | {% if not icon_only %}
    span Follow
    | {% endif %}
| {% endif %}
