| {% load i18n %}

| {% if is_post %}
button.post-actions-btn(
	class="js-share",
	title="{% trans 'Share' %}",
	data-toggle="tooltip",
	data-share-title="{% trans 'Share Post' %}",
	data-share-text="{% firstof post.user.profile.name post.user.username %} {% trans 'on' %} anima.to",
	data-share-url="{% url 'post_detail' post.hash_id %}",
	data-popover='#popover-share')
	i.i-share
| {% else %}
button.btn.btn-link-bg.btn-sidebar(
	class="js-share",
	title="{% trans 'Share' %}",
	data-share-title="{% trans 'Share' %} {{ shared_object_label }} {% trans 'from' %} {{ site_name }}",
	data-share-text="{% trans 'Share' %} {{ shared_object_label }} {% trans 'from' %} {{ site_name }}",
	data-share-url="{{ request.build_absolute_uri }}",
	data-popover='#popover-share')
	i.i-share
	strong {% trans 'Share' %}
| {% endif %}

#popover-share.popover.card.p-3.bg-dark
	.btn-toolbar-row
		button.btn.btn-sm.btn-link.btn-social-facebook(
			title="{% trans 'Share on' %} Facebook", class="js-share-pop",
			data-social-media="facebook", data-share-url="{{ request.build_absolute_uri }}")
			i.i-facebook

		button.btn.btn-sm.btn-link.btn-social-twitter(
			title="{% trans 'Share on' %} Twitter", class="js-share-pop",
			data-social-media="twitter", data-share-url="{{ request.build_absolute_uri }}")
			i.i-twitter

		button.btn.btn-sm.btn-link.btn-social-pinterest(
			title="{% trans 'Share on' %} Pinterest", class="js-share-pop",
			data-social-media="pinterest", data-share-url="{{ request.build_absolute_uri }}")
			i.i-pinterest

		button.btn.btn-sm.btn-link.btn-social-linkedin(
			title="{% trans 'Share on' %} LinkedIn", class="js-share-pop",
			data-social-media="linkedin", data-share-url="{{ request.build_absolute_uri }}")
			i.i-linkedin

		button.btn.btn-sm.btn-link(data-dismiss="modal", class="js-dismiss-modal", data-dismiss-modal="#popover-share")
			i.i-cancel
