| {% load i18n %}

#comment-form-container.d-flex
	| {% if request.user.is_authenticated %}
	.mt-1.pr-3
		| {% include 'dillo/components/_profile_avatar.pug' with user=request.user size='small' %}

	.d-flex.flex-column.w-100
		form.comment-form(action="{% url 'comment_create' %}", method='post', id='js-comment-form')
			| {{ form_comment.content }}
			| {{ form_comment.post_id }}
			| {{ form_comment.parent_comment_id }}

			.d-flex.justify-content-end.py-3
				button.btn.btn-link.btn-icon.mr-2(
					data-toggle="tooltip",
					title="{% trans 'Cancel' %}",
					type='button',
					class="js-reply-cancel")
					i.i-cancel
				button.btn.btn-primary.px-4(
					title="{% trans 'Send Comment' %}",
					type='submit')
					span {% trans "Comment" %}
	| {% endif %}
