| {% load i18n %}
| {% load djversion_tags %}

footer.site-footer
	.btn-toolbar-row
		a.btn.btn-link.btn-icon(href="https://twitter.com/AnimatoHQ")
			i.i-twitter
		a.btn.btn-link.btn-icon(href="https://instagram.com/AnimatoHQ")
			i.i-instagram

	.footer-nav
		ul
			li
				a(href="{% url 'explore' %}") {% trans "explore" %}
			li
				a(href="{% url 'reel-list' %}") {% trans "reels" %}
			li
				a(href="{% url 'rig-list' %}") {% trans "rigs" %}
			li
				a(href="{% url 'event_list' %}") {% trans "events" %}
			li
				a(href="{% url 'job-list' %}") {% trans "jobs" %}
			li
				a(href="{% url 'bookmarks' %}") {% trans "bookmarks" %}
			li
				a(href="{% url 'about' %}") {% trans "about" %}
			li
				a(href="{% url 'blog' %}") {% trans "blog" %}
			li
				a(href="{% url 'privacy' %}") {% trans "privacy" %}
			li
				a(href="{% url 'terms' %}") {% trans "terms" %}
			li
				| {% if request.user.is_authenticated %}
				a(
					href="#",
					class="js-show-modal",
					data-modal_category='form',
					data-modal_title='{% trans "Give Feedback" %}',
					data-content_url="{% url 'contact' %}",
					data-toggle='modal',
					data-target='#modal')
					| {% trans "give feedback" %}
				| {% else %}
				a(href="{% url 'account_login' %}")
					| {% trans "give feedback" %}
				| {% endif %}

	.footer-nav.brand
		ul
			li
				| {% trans  'made with love for animation' %}

		| {% project_version as VERSION %}
		| {% if VERSION %}
		span
			| ·
		span {{ VERSION }}
		| {% endif %}
