| {% load i18n %}
| {% load dillo_filters %}

nav.nav-primary.navbar.navbar-expand
	.container
		.navbar-menu
			button.btn.btn-link.nav-sidebar-toggle(class='js-nav-sidebar-toggle')
				span
					i.i-menu
			.navbar-is-shown-modal-post-detail
				| {% include 'dillo/components/_button_modal_close.pug' %}

			| {% include 'dillo/components/_navigation_brand.pug' %}

		.nav-offcanvas
			ul
				//- XXX - Hiding Explore temporarily to give Reels more visibility.
				//- li(class="{% if '/explore/' in request.path_info %}active{% endif %}")
				//- 	a(href="{% url 'explore' %}", title="{% trans 'Explore' %}")
				//- 		i.i-compass
				//- 		span {% trans 'Explore' %}

				li(class="{% if '/reels' in request.path_info %}active{% endif %}")
					a(href="{% url 'reel-list' %}", title="{% trans 'Demo Reels Theater' %}")
						i.i-reel
						span {% trans 'Reels' %}

				li(class="{% if '/shorts' in request.path_info %}active{% endif %}")
					a(href="{% url 'short-list' %}?sort=recent", title="{% trans 'Shorts Theater' %}")
						i.i-shorts
						span {% trans 'Shorts' %}

				li(class="{% if '/rigs' in request.path_info %}active{% endif %}")
					a(href="{% url 'rig-list' %}", title="{% trans 'Download Rigs' %}")
						i.i-package
						span {% trans 'Rigs' %}

				li(class="{% if '/events' in request.path_info %}active{% endif %}")
					a(href="{% url 'event_list' %}", title="{% trans 'Animation Events' %}")
						i.i-events
						span {% trans 'Events' %}

				li(class="{% if '/jobs' in request.path_info %}active{% endif %}")
					a(href="{% url 'job-list' %}", title="{% trans 'Animation Jobs' %}")
						i.i-jobs
						span {% trans 'Jobs' %}

				li
					a(href="https://discord.gg/N7gJzaf", title="{% trans 'Animato on Discord!' %}", target="_blank")
						i.i-discord
						span {% trans 'Discord' %}

				li(class="{% if '/bookmarks' in request.path_info %}active{% endif %}")
					a(href="{% url 'bookmarks' %}", title="{% trans 'Your Saved Bookmarks' %}")
						i.i-bookmark
						span {% trans 'Bookmarks' %}

				| {% if request.user.is_authenticated %}
				li.dropdown
					//- Mobile Navigation.
					a#dropdown-user-mobile(
						data-toggle='dropdown',
						aria-haspopup='true',
						aria-expanded='false',
						href="#",
						title="{% trans 'More...' %}")
						span
							i.i-more-vertical
							span {% trans 'More...' %}
					.dropdown-menu.dropdown-menu-left(aria-labelledby='dropdown-user-mobile')
						| {% include 'dillo/components/_nav_dropdown_admin.pug' %}
				| {% endif %}

		.navbar-action-container
			form.navbar-search(
				id='search',
				action="{% url 'posts_search' %}"
			)
				input.form-control(
					id="search-text",
					type='text',
					placeholder='{% trans "Search..." %}',
					aria-label="Search...",
					aria-describedby='search-submit')
				button#search-submit.btn.btn-link.btn-input-embed(
					data-placement="bottom",
					data-toggle="tooltip",
					type='button',
					title='{% trans "Search" %}')
					span
						i.i-search

			.btn-toolbar-row
				| {% if request.user.is_anonymous %}
				a.btn.btn-link(
					href="{% url 'account_login' %}",
					title='{% trans "Log In" %}')
					span {% trans "Log In" %}

				a.btn.btn-link-primary(
					href="{% url 'account_signup' %}",
					title='{% trans "Sign Up" %}')
					span {% trans "Sign Up" %}
				| {% endif %}

				| {% if request.user.is_authenticated %}
				a.btn.btn-link.btn-icon(href="{% url 'explore' %}",
					class="js-notifications-toggle notifications-toggle {% if notifications_count %}has-notifications{% endif %}"
					data-notifications-count="{{ notifications_count }}",
					data-placement="bottom",
					data-toggle="tooltip",
					title="{% trans 'Activity' %}")
					span
						i.i-bell
				| {% endif %}

				| {% if request.user.is_authenticated %}
				.dropdown
					a.btn.btn-link.btn-icon#dropdown-user(
						data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', href="#", title='{% trans "More..." %}')
						span
							i.i-more-vertical
					.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdown-user')
						| {% include 'dillo/components/_nav_dropdown_admin.pug' %}
				| {% endif %}

nav.nav-primary-mobile
	a.btn.btn-icon(href='/')
		i.i-home
	a.btn.btn-icon(href='/explore', class="{% if '/explore/' in request.path_info %}active{% endif %}")
		i.i-search
	| {% if request.user.is_authenticated %}
	a.btn.btn-icon(
		href="{% url 'post_create' %}",
		class="{% if '/create' in request.path_info %}active{% endif %}")
		i.i-plus-square
	a.btn.btn-icon(href="/",
		data-notifications-count="{{ notifications_count }}",
		class="js-notifications-toggle notifications-toggle {% if notifications_count %}has-notifications{% endif %}")
		i.i-bell
	a.btn.btn-icon(
		href="{% url 'profile_details' request.user.username %}",
		class="{% if request.user.username in request.path_info %}active{% endif %}")
		i.i-user
	| {% else %}
	a.btn.btn-link-text(href="{% url 'account_login' %}")
		| {% trans "Log In" %}
	a.btn.btn-link-text(href="{% url 'account_signup' %}")
		| {% trans "Sign Up" %}
	| {% endif %}
