| {% load i18n %}
| {% load thumbnail %}
| {% load dillo_filters %}

.post-media-item(
	class="{% if is_post_details %}post-media-video{% endif %}")
	video.video-js(
		class="vjs-fluid",
		id="{{ post_detail_media_prefix }}video-{{ video.id }}",
		data-video_id="{{ video.static_asset.id }}",
		data-framerate="{{ video.framerate }}",
		data-views_count="{{ video.views_count|compact_number }}",
		poster='{% thumbnail video.static_asset.thumbnail "1280x720" as im %}{{ im.url }}{% endthumbnail %}',
		playsinline,
		controls,
		muted)
		source(src='{{ video.url_720p }}', type='video/mp4')
		p.vjs-no-js
			| To view this video please enable JavaScript, and consider upgrading to a web browser that
			a(href='https://videojs.com/html5-video-support/', target='_blank') supports HTML5 video
