| {% load i18n %}
| {% load dillo_filters %}

.post-actions
	.post-actions-button-group
		| {% if request.user.is_authenticated %}
		button.post-actions-btn(
			data-toggle="tooltip",
			title="{% if post|is_liked:request.user %}{% trans 'Unlike' %}{% else %}{% trans 'Like' %}{% endif %}",
			class="js-like-toggle{% if post|is_liked:request.user %} is-liked{% endif %}",
			data-like_toggle_url="{% url 'like_toggle' content_type_id=post.content_type_id object_id=post.id %}",
			)
			i.i-heart
		| {% else %}
		a.post-actions-btn(
			data-toggle="tooltip",
			href="{% url 'account_signup' %}",
			title="{% trans 'Like' %}")
			i.i-heart
		| {% endif %}

		| {% include 'dillo/components/_button_share.pug' with shared_object_label='job' is_post=True %}

	| {% if view == 'list' %}
	.post-carousel-dots
	| {% endif %}

	.post-actions-button-group.right
		| {% if request.user.is_authenticated %}
		button.post-actions-btn(
			class="js-bookmark-toggle btn-bookmark {% if post|is_bookmarked:request.user %}is-active{% endif %}",
			title="{% trans 'Save to Bookmarks' %}",
			data-toggle="tooltip",
			data-bookmark_toggle_url="{% url 'bookmark_toggle' post.id %}")
			i.i-bookmark
		| {% else %}
		a.post-actions-btn(
			class="btn-bookmark",
			href="{% url 'account_signup' %}",
			title="{% trans 'Save to Bookmarks' %}",
			data-toggle="tooltip", data-placement="bottom")
			i.i-bookmark
		| {% endif %}
