| {% load thumbnail %}

.post-media-container(
	class="js-post-media-container",
	data-post_layout="grid",
	data-post_hash_id="{{ post.hash_id }}",
	id="post-media-{{ post.hash_id }}")

	//- .js-show-modal: opens the post in #modal-post-detail.
	//- .js-post-media: for switching thumbnail for gif on hover (see posts.js)
	a.post-media-item-grid(
		class="js-show-modal js-post-media",
		data-content_url="{% url 'post_detail' post.hash_id %}",
		data-toggle='modal',
		data-target='#modal-post-detail',
		data-post_id="{{ post.hash_id }}",
		href="{% url 'post_detail' post.hash_id %}",
		data-preview="{{ post.media.all.0.video.url_preview }}")

		| {% thumbnail post.thumbnail "640x360" crop="center" as im %}
		img.media-thumbnail(
			src="{{ im.url }}",
			width="{{ im.width }}",
			height="{{ im.height }}",
			alt="{{ post.user }}")
		| {% endthumbnail %}

		| {% if post.media.count > 1 %}
		span.post-label-icon
			i.i-layers
		| {% endif %}
