| {% load thumbnail %}

a.profile-avatar-container(
	class="{{ is_link_disabled }}",
	data-placement="{% if tooltip %}{{ tooltip }}{% endif %}",
	data-toggle="{% if tooltip %}tooltip{% endif %}",
	href="{% url 'profile-detail' user.username %}",
	title="{{ user.username }}")
	.profile-avatar(
		class="{% if size %}avatar-size-{{ size }}{% endif %}")
		| {% if  user.profile.avatar %}
		img(
			src="{{ user.profile.avatar.url }}",
			alt="{{ user.username }}"
		)
		| {% else %}
		i.i-user
		| {% endif %}
