| {% load i18n %}
| {% load static %}
| {% load thumbnail %}
| {% load micawber_tags %}
| {% load dillo_filters %}

.profile-header(
  style="background-image: url({% static 'images/background_01.png' %})")
  .profile-info-container
    .profile-info
      //- Avatar.
      .profile-info-avatar
        | {% include 'dillo/components/_profile_avatar.pug' with user=user size='large' is_details=true %}

      .profile-info-details
        //- Username or Name.
        h1.profile-name
          | {% firstof user.profile.name user.username %}

        .btn-toolbar-row
          //- Looking for work.
          | {% if user.profile.is_looking_for_work %}
          .badge.badge-is-looking-for-work
            i.i-jobs
            span Looking for Work
          | {% endif %}

          //- Location.
          | {% if user.profile.location_label %}
          .profile-location
            a(
              href="https://www.google.com/maps/@{{ user.profile.city_ref.lat }},{{ user.profile.city_ref.lng }},10z",
              target="_blank")
              i.i-map-pin
              | {{ user.profile.location_label }}
          | {% endif %}

        //- Social Links.
        | {% if user.profile.website or user.profile.links.all %}
        .profile-social
          //- Website.
          | {% if user.profile.website %}
          a.btn.btn-icon-primary(
            data-toggle="tooltip",
            href="{{ user.profile.website }}",
            target="_blank",
            title="{{ user.profile.website_hostname }}")
            span
              i.i-globe
          | {% endif %}

          | {% for profile_link in user.profile.links.all %}
          | {% firstof profile_link.social 'Website' as social_site %}
          a.btn.btn-icon-primary(
            data-toggle="tooltip",
            href="{{ profile_link.url }}",
            target="_blank",
            title="{{ social_site | title }}")
            span
              i(class="i-{% firstof profile_link.social 'link' %}")
          | {% endfor %}
        | {% endif %}

    //- Bio.
    | {% if show_bio and user.profile.bio or user.profile.tagline %}
    .profile-bio
      | {% if user.profile.bio %}
      | {{ user.profile.bio }}
      | {% elif user.profile.tagline %}
      | {{ user.profile.tagline }}
      | {% endif %}
    | {% endif %}

    .btn-toolbar-row
      //- Show Edit Profile button for the current user.
      | {% if request.user == user %}
      | {% url 'profile_edit' as edit_url %}
      | {% include 'dillo/components/_button_edit.pug' with url=edit_url label="Edit Profile" class="btn-sidebar" %}
      | {% else %}
      //- Show Follow button for everyone else.
      | {% include 'dillo/components/_button_follow.pug' with target_object=user class="btn-profile-follow btn-wide" %}
      | {% endif %}

      | {% if request.user.is_superuser %}
      | {% url 'admin:auth_user_change' user.id as edit_url %}
      | {% trans 'Whoosh' as edit_label %}
      | {% include 'dillo/components/_button_generic.pug' with url=edit_url label=edit_label icon='i-coffee' class="btn-admin" %}
      | {% endif %}

      | {% include 'dillo/components/_button_share.pug' with shared_object_label='profile' %}

    hr

    //- Statistics.
    .profile-stats
      | {% if user.profile.followers_count > 0 %}
      span.stat(
        class="js-show-modal {% if user.profile.followers_count %}stat-modal{% endif %}",
        data-content_url="{% url 'embed_user_followers_list' user_id=user.id %}",
        data-modal_category='list',
        data-modal_title='{% trans "Followers" %}',
        data-target='#modal',
        data-toggle='modal',
        id="user-followers-{{ user.id }}",
        title='{% trans "Followers" %}')
        span {{ user.profile.followers_count }}
        span follower{{ user.profile.followers_count|pluralize }}
      | {% endif %}

      | {% if user.profile.following_count > 0 %}
      span.stat(
        class="js-show-modal {% if user.profile.following_count %}stat-modal{% endif %}",
        data-content_url="{% url 'embed_user_following_list' user_id=user.id %}",
        data-modal_category='list',
        data-modal_title='{% trans "Following" %}',
        data-target='#modal',
        data-toggle='modal',
        id="user-following-{{ user.id }}",
        title='{% trans "Following" %}')
        span {{ user.profile.following_count }}
        span following
      | {% endif %}

      | {% if request.user.is_authenticated and request.user == user %}
      | {% if user.profile.likes_count > 0 %}
      span.stat
        span {{ user.profile.likes_count }}
        span like{{ user.profile.likes_count|pluralize }}
      | {% endif %}

      | {% if user.profile.views_count > 0 %}
      span.stat
        span {{ user.profile.views_count|compact_number }}
        span views
      | {% endif %}
      | {% endif %}

  | {% if user.profile.reel %}
  .profile-reel
    .reel-container
      | {{ user.profile.reel | oembed }}
  | {% endif %}
