| {% extends "dillo/base.pug" %}
| {% load i18n %}

| {% block content %}
.container
	.row
		.col-sm-3
			.btn-toolbar-col
				a.btn(
					href="{% url 'profile_edit' %}",
					class="{% if request.path == '/accounts/profile/'%}active{% endif %}",
				)
					span
						i.i-user
						| Profile

				a.btn(
					href="{% url 'account_change_password' %}",
					class="{% if request.path == '/accounts/password/change/'%}active{% endif %}",
				)
					span
						i.i-shield
						| Change Password

				a.btn(
					href="{% url 'account_email' %}",
					class="{% if request.path == '/accounts/email/'%}active{% endif %}",
				)
					span
						i.i-mail
						| Email

				a.btn(
					href="{% url 'account-email-notifications' %}",
					class="{% if request.path == '/accounts/notifications'%}active{% endif %}",
				)
					span
						i.i-bell
						| Notifications

				a.btn(
					href="{% url 'account_settings' %}",
					class="{% if request.path == '/accounts/settings/'%}active{% endif %}",
				)
					span
						i.i-settings
						| Settings

		.col-9
			#nav-tabContent.tab-content
				.tab-pane.fade.show.active
					.d-flex.flex-column
						.card
							| {% block content_account_edit_form %}
							| {% endblock content_account_edit_form %}

| {% endblock content %}

