| {% extends "dillo/base.pug" %}

| {% block content %}
.container
  .row
    .col(style="text-align: center; margin: 2rem 0 1rem; font-size: 3rem")
      h1 anima.to

  hr

  .row#type
    .col-sm-2(style="text-align: right")
      a(href="#type")
        h1 Type

    .col-sm-10
      .row
        .col-sm-4
          h1 Heading H1
          h2 Heading H2
          h3 Heading H3
          h4 Heading H4
          h5 Heading H5
          h6 Heading H6

        .col-sm-4
          p(style="color: var(--body-color-highlight)") Regular paragraph, highlight color.
          p Regular paragraph, base color.
          p(style="color: var(--body-color-secondary)") Regular paragraph, secondary color.
          p(style="color: var(--body-color-hint)") Regular paragraph, hint color.

          p.
            Another #[strong paragraph] this time #[i slightly longer],
            to see how it wraps around. #[a(href="#") Comes in handy] to check the
            #[code line-height] CSS property.
            Is it supercalifragilisticexpialidocious
            or #[strong megasupercalifragilisticexpialidocious]?
            #[abbr(title="Anyway") Either way] helps for #[code white-space] stuff.

        .col-sm-4
          p(style="font-size: var(--font-size-lg)") Font size large. #[code --font-size-lg]
          p Regular font size. #[code --font-size-base]
          p(style="font-size: var(--font-size-sm)") Font size small. #[code --font-size-sm]
          p(style="font-size: var(--font-size-xs)") Font size extra-small. #[code --font-size-xs]

          blockquote
            p This is a #[code blockquote]. Who knows how is this going to render.
            small Author: Unknown

  hr

  .row#cards
    .col-sm-2(style="text-align: right")
      a(href="#cards")
        h1 Cards

    .col-sm-10
      .row.cards-row
        .col
          .card
            .card-thumbnail
              img(src="https://loremflickr.com/1280/720/glaciares")
            .card-header
              .card-title Lonely Title

        .col
          .card
            .card-thumbnail
              img(src="https://loremflickr.com/1280/720/patagonia")
            .card-header
              .card-header-text
                .card-title I'm a Title
                .card-subtitle With a Subtitle!

        .col
          .card
            .card-thumbnail
              img(src="https://loremflickr.com/1280/720/pinguinos")
            .card-header
              .card-header-image
                img(src="https://loremflickr.com/100/100/")
              .card-header-text
                .card-title I've got an Image
                .card-subtitle With a Subtitle!

        .col
          .card-borderless
            .card-thumbnail
              img(src="https://loremflickr.com/1280/720/chalten")
            .card-header
              .card-title Lonely Title

        .col
          .card-borderless
            .card-thumbnail
              img(src="https://loremflickr.com/1280/720/patagonico")
            .card-header
              .card-header-text
                .card-title I'm a Title
                .card-subtitle With a Subtitle!

        .col
          .card-borderless
            .card-thumbnail
              img(src="https://loremflickr.com/1280/720/patagonica")
            .card-header
              .card-header-image
                img(src="https://loremflickr.com/100/100/")
              .card-header-text
                .card-title I've got an Image
                .card-subtitle With a Subtitle!

  hr

  .row#dropdown
    .col-sm-2(style="text-align: right")
      a(href="#dropdown")
        h1 Dropdown

    .col-sm-10
      .post-header-action
        nav.navbar.navbar-expand
          ul.navbar-nav
            li.dropdown
              a.btn.active(
                id="dropdown-post-123"
                href='#',
                data-toggle='dropdown',
                aria-haspopup='true',
                aria-expanded='false')
                i.i-more-vertical

              .dropdown-menu.dropdown-menu-right.show(
                aria-labelledby='dropdown-post-123',
                style="position: relative; margin: 0 1rem 1rem 0")
                a.dropdown-item(
                  href="#",
                  class="js-follow-toggle",
                  data-follow_toggle_label="Turn On Post Notifications"
                  title='Toggle Post Notifications')
                  span
                    i.i-bell-off
                    | Turn On Post Notifications

                .dropdown-divider

                a.dropdown-item(
                  href="#",
                  class="js-show-modal",
                  data-modal_category='form',
                  data-modal_title='Report',
                  data-content_url="#",
                  data-toggle='modal',
                  data-target='#modal')
                  span
                    i.i-flag
                    | Report...


                .dropdown-divider

                a.dropdown-item(
                  href="#",
                  class="js-show-modal",
                  data-modal_category='form',
                  data-modal_title='Edit',
                  data-content_url="123",
                  data-toggle='modal',
                  data-target='#modal')
                  span
                    i.i-edit
                    | Edit

                // TODO: Add confirmation prompt.
                a.dropdown-item.danger(
                  href="#",
                  class="js-delete-post",
                  data-post_delete_url="123",
                  title='Delete Post')
                  span
                    i.i-trash
                    | Delete Post

                .dropdown-divider

                a.dropdown-item(
                  href="#",
                  title='See User')
                  span
                    i.i-coffee
                    | User

  hr

  .row#buttons
    .col-sm-2(style="text-align: right")
      a(href="#buttons")
        h1 Buttons

    .col-sm-10
      div
        button
          span Button Element
        .btn
          span Text Button
        .btn
          i.i-check
        .btn.active
          i.i-check
        .btn
          i.i-check
          span Span + Icon Outside
        .btn
          span
            i.i-check
            | Span + Icon Inside

      p
        .btn-group
          .btn
            span Grouped Buttons
          .btn
            i.i-check
          .btn.active
            i.i-check
            span With Span + Active
          .btn
            span
              i.i-check
              | With Span

        .btn-group
          .btn
            span Another
          .btn.active
            span Group
          .btn
            span o'
          .btn
            span Icons

      p
        .btn.btn-link
          span Link
        .btn.btn-primary
          span Primary
        .btn.btn-secondary
          span Secondary
        .btn.btn-danger
          span Danger
        .btn.btn-success
          span Success
        .btn.btn-warning
          span Warning

      hr

      h2 Buttons Row
      p
        | Wrapped in #[code btn-toolbar-row]
      .btn-toolbar-row
        a(href="#").btn
          span Button
        a(href="#").btn.btn-link
          span Link
        a(href="#").btn.btn-primary
          span Primary
        a(href="#").btn.btn-secondary
          span Secondary

        .btn-group
          .btn
            span Group
          .btn.active
            span of
          .btn
            span Icons

      hr

      h2 Buttons Column
      p
        | Wrapped in #[code btn-toolbar-col]
      .row
        .col-4
          .btn-toolbar-col
            a.btn.active(href="#")
              span
                i.i-user
                | Profile

            a.btn(href="#")
              span
                i.i-shield
                | Change Password

            a.btn(href="#")
              span
                i.i-mail
                | Email

            a.btn(href="#")
              span
                i.i-bell
                | Notifications

        .col-4
          .btn-toolbar-col
            a(href="#").btn
              span Button
            a(href="#").btn.btn-link
              i.i-check
              span Link: i Outside Span
            a(href="#").btn.btn-primary
              span
                i.i-check
                | Primary: i Inside Span
            a(href="#").btn.btn-secondary
              span Secondary

        .col-4
          .btn-toolbar-col
            a(href="#").btn.btn-sm
              span Small
            a(href="#").btn.btn-sm
              span Small Primary
            a(href="#").btn.btn-sm
              span Small Secondary

      hr

      h2 Buttons Group
      .btn-group
        a(href="#").btn
          span Button
        a(href="#").btn.btn-link
          span Link
        a(href="#").btn.btn-primary
          span Primary
        a(href="#").btn.btn-secondary
          span Secondary

      hr

      h2 Small
      a(href="#").btn.btn-sm
        span Button
      a(href="#").btn.btn-sm.btn-primary
        span Primary

| {% endblock content %}

| {% block javascript_extra %}
script.
  $('.btn').on('click', function(e){
    e.preventDefault();
    $(this).toggleClass('active');
  });
| {% endblock javascript_extra %}
