| {% extends "dillo/base_single_card.pug" %}
| {% load i18n %}
| {% load pipeline %}
| {% block page_title %}{% trans "Create Post" %}{% endblock %}
| {% block body_classes %}page-create{% endblock %}

| {% block head_extra %}
| {% stylesheet 'edit' %}
| {% endblock head_extra %}

| {% block content_card %}
.post-form-container
  if error_message
    p.text-danger.p-3
      strong {{ error_message }}

  #uppy-drop-area(
    data-post_id="{{ post.id }}",
    data-unpublished_uploads_url="{% url 'post_unpublished_uploads' post.hash_id %}",
    data-delete_unpublished_upload_url="{% url 'delete_unpublished_upload' post.hash_id %}",
  )

  form(action="{% url 'post_create' %}", method="post", enctype="multipart/form-data")
    .form-group
      | {% csrf_token %}
      | {{ form }}

    .form-group
      .btn-toolbar-row
        button.post-create-btn.disabled.btn-lg(
          type='submit',
          class="js-post-create-btn")
          span {% trans "Create Post" %}

  .form-tip
    span {% trans "Tip: Use #hashtags to increase discoverability." %}


| {% endblock content_card %}

| {% block javascript_extra %}
script(src="https://transloadit.edgly.net/releases/uppy/v1.21.2/uppy.min.js")
script.
  const $uppy_drop_area = $('#uppy-drop-area');
  const uppy = Uppy.Core({
    autoProceed: true,
  });
  uppy.use(Uppy.Dashboard, {
    theme: 'dark',
    inline: true,
    width: '100%',
    height: '300px',
    allowMultipleUploads: true,
    showRemoveButtonAfterComplete: true,
    target: '#uppy-drop-area'
  });
  // uppy.use(Uppy.DragDrop, { target: '#uppy-drop-area' })
  uppy.use(Uppy.AwsS3, {
    limit: 4,
    // companionUrl: 'https://uppy.anima.to/',
    // companionUrl: 'http://localhost:3020',
    getUploadParameters(file) {
      // Send a request to our signing endpoint.
      return fetch('/s3-sign', {
        method: 'post',
        // Send and receive JSON.
        headers: {
          accept: 'application/json',
          'content-type': 'application/json'
        },
        body: JSON.stringify({
          filename: file.name,
          contentType: file.type
        })
      }).then((response) => {
        // Parse the JSON response.
        return response.json()
      }).then((data) => {
        // Return an object in the correct shape.
        return {
          method: data.method,
          url: data.url,
          fields: data.fields,
          headers: {},
        }
      })
    }
  })
  $.ajax({
    url: $uppy_drop_area.data('unpublished_uploads_url'),
    type: 'post',
    dataType: 'json',
    success: function (response) {
      $.each(response.media, function (key, value) {
        // Create a mockFile from existing uploaded data
        let mockFile = {
          name: value.name,
          size: value.size,
          dataURL: value.url,
          postMediaId: value.post_media_id
        };

        fetch(value.url)
        .then((response) => response.blob()) // returns a Blob
        .then((blob) =>
          uppy.addFile({
            name: mockFile.name,
            data: blob
          })
        )
        .then((fileId) => {
          uppy.setFileState(fileId, {
            progress: {uploadComplete: true, uploadStarted: true}
          });
          uppy.setFileMeta(fileId, {
            postMediaId: mockFile.postMediaId,
          });
        })
      });
    }
  });


  uppy.on('upload-success', (file, data) => {
    let payload = {
      post_id: parseInt($uppy_drop_area.data('post_id')),
      name: file.meta['name'],
      mime_type: file.type,
      key: file.meta['key'],
      size_bytes: file.size,
    };
    $.post(
      '/attach-upload-to-post', payload
    ).done(function(data) {
      uppy.setFileMeta(file.id, {
        postMediaId: data.post_media_id,
      });
    });
  })

  uppy.on('file-removed', (file, reason) => {
    if (reason === 'removed-by-user') {
      $.ajax({
        type: 'post',
        url: $uppy_drop_area.data('delete_unpublished_upload_url'),
        data: {'post_media_id': file.meta.postMediaId},
        dataType: 'json'
      });
    }
  })

  let $postDescription = $('#id_title');

  // Auto-resize text field as we type.
  $postDescription.autoResize();

  // Disable the Create Post button if text field is empty and no (valid) files were uploaded.
  $postDescription.on('keyup', function () {
    let totalFilesCount = uppy.getFiles().length;
    if ($.trim($postDescription.val()) && totalFilesCount > 0) {
      $('.js-post-create-btn')
        .removeClass('disabled');
    } else {
      $('.js-post-create-btn')
        .addClass('disabled');
    }
  });
| {% endblock javascript_extra %}
