| {% extends "dillo/post_detail_embed_base.pug" %}
| {% load i18n %}

| {% block media %}
section.post-view-media.col-scrollable
	| {% include 'dillo/components/_post_media_carousel.pug' with post=post is_post_details=True post_detail_media_prefix='post-detail-media-' %}

	//- TODO move this outside
	.post-nav
		a.post-nav-action(
			href="#",
			class="js-post-nav-prev",
			title='{% trans "Previous" %}')
			i.i-chevron-left
		a.post-nav-action.next(
			href="#",
			class="js-post-nav-next",
			title='{% trans "Next" %}')
			i.i-chevron-right
| {% endblock media %}


| {% block site_footer %}{% endblock site_footer %}
