| {% load i18n %}
| {% load dillo_filters %}

| {% for post in posts %}
li.post-container(
	data-post_id="{{ post.hash_id }}",
)
	| {% include 'dillo/components/_post_media_grid.pug' with post=post %}

	.post-grid-details
		.post-grid-avatar
			| {% include 'dillo/components/_profile_avatar.pug' with user=post.user size='small' %}

		.post-grid-info
			a.post-author(href="{% url 'profile-detail' post.user.username %}")
				span {{ post.user.username }}

			a.post-grid-meta(
				class="js-show-modal",
				data-content_url="{% url 'post_detail' post.hash_id %}",
				data-toggle='modal',
				data-target='#modal-post-detail',
				data-post_id="{{ post.hash_id }}",
				href="{% url 'post_detail' post.hash_id %}")

				//- Views.
				| {% if request.user.is_authenticated %}
				| {% if post.media.all.0.video and post.media.all.0.views_count and request.user == post.user  %}
				span
					| #[i.i-eye] {{ post.media.all.0.views_count|compact_number }}
				| {% endif %}
				| {% endif %}

				//- Comments.
				| {% if post.comments.count %}
				span  #[i.i-comment] {{ post.comments.count }}
				| {% endif %}

				//- Likes.
				| {% if request.user.is_authenticated %}
				| {% if post.likes.count and request.user == post.user %}
				span  #[i.i-heart] {{ post.likes.count }}
				| {% endif %}
				| {% endif %}

	| {% if forloop.counter == 10 %}
	| {% if page_obj.has_next %}
	.js-load-more(data-next_url="{{ url_next }}?page={{ page_obj.next_page_number }}")
	| {% endif %}
	| {% endif %}

| {% empty %}
| {% include 'dillo/components/_post_list_empty.pug' %}

| {% endfor %}

| {% if page_obj.has_next %}
li.js-loading-posts-indicator.posts-loading-more
	span Loading more posts...
| {% endif %}
