| {% load i18n %}
| {% load dillo_filters %}

| {% for post in posts %}
| {% if post.media.all %}
li.post-container(
	data-post_id="{{ post.hash_id }}",
)
	| {% include 'dillo/components/_post_media_grid.pug' with post=post %}

	.post-grid-details
		.post-grid-avatar
			| {% include 'dillo/components/_profile_avatar.pug' with user=post.user size='small' %}

		.post-grid-info
			a.post-author(href="{% url 'profile-detail' post.user.username %}")
				span {{ post.user.username }}

			a.post-grid-meta(
				class="js-show-modal",
				data-content_url="{% url 'post_detail' post.hash_id %}",
				data-toggle='modal',
				data-target='#modal-post-detail',
				data-post_id="{{ post.hash_id }}",
				href="{% url 'post_detail' post.hash_id %}")

				//- Views.
				| {% if post.media.first.video %}
				span
					| #[i.i-eye] {{ post.media.first.video.views_count|compact_number }}
				| {% endif %}

				//- Comments.
				| {% if post.comments.count %}
				span  #[i.i-comment] {{ post.comments.count }}
				| {% endif %}

				//- Likes.
				| {% if post.likes.count %}
				span  #[i.i-heart] {{ post.likes.count }}
				| {% endif %}

| {% endif %}

| {% empty %}
| {% include 'dillo/components/_post_list_empty.pug' %}
| {% endfor %}

| {% if page_obj.has_next %}
li
	.d-flex.mx-auto.py-3.justify-content-center
		| {% include 'dillo/components/_button_load_more.pug' with js_class='js-load-more' page_obj=page_obj %}
| {% endif %}
