| {% extends "dillo/post_detail_embed_base.pug" %}
| {% load i18n %}

| {% block media %}
section.post-view-media.col-scrollable
	| {% include 'dillo/components/_post_media_carousel.pug' with post=post is_post_details=True post_detail_media_prefix='post-detail-media-' %}

	//- TODO move this outside
	.post-nav
		a.post-nav-action(
			href="#",
			class="js-post-nav-prev",
			title='{% trans "Previous" %}')
			i.i-chevron-left
		a.post-nav-action.next(
			href="#",
			class="js-post-nav-next",
			title='{% trans "Next" %}')
			i.i-chevron-right
| {% endblock media %}

| {% block javascript_media %}
script.
	$(function () {

		//- Find only the media that was loaded in the post
		let $postMediaContainer = $('.post-media-container.js-with-post-detail-media-prefix');

		//- Initialize video players.
		let $videos = $postMediaContainer.find('video');
		let firstPlayerId = $videos.first().attr('id');
		videoPlayersInit($videos);

		//- Autoplay first video, if a video is found
		if (firstPlayerId !== undefined) {
			videojs(firstPlayerId).ready(function () {
				let player = this;
				player.play();
			});
		}
		;

		/* Slide. */
		let initialMedia = 0;

		// If there is a hash #media-N, use that number as initialMedia and scroll there.
		if (window.location.hash) {
			let hash = window.location.hash;

			if (hash.startsWith("#media-")) {
				initialMedia = parseInt(hash.split("-")[1]);
				$('post-view-media').scrollTop($('#media-' + initialMedia).offset().top);
			}
		}

	});
| {% endblock javascript_media %}

| {% block site_footer %}{% endblock site_footer %}
