form#submit_post_form(
	role="form",
	method="POST",
	enctype="multipart/form-data",
	action="{{url_for('posts.submit')}}")

	| {{ submit_post_form.hidden_tag() }}

	.post-submit

		| {# What type is it? #}
		.row.post-submit-field-type
			.col-md-6.col-sm-6.col-xs-6
				a.select-change.post-submit-field-type-button.activato(
					data-role="button",
					data-val="1")
					.post-submit-field-type-button-icon
						i.di-link

					.post-submit-field-type-button-legend
						span.post-submit-field-type-button-title
							| LINK

						span.post-submit-field-type-button-description
							| I want to share a link


			.col-md-6.col-sm-6.col-xs-6
				a.select-change.post-submit-field-type-button(
					data-role="button",
					data-val="2")
					.post-submit-field-type-button-icon
						i.di-text

					.post-submit-field-type-button-legend
						span.post-submit-field-type-button-title
							| TEXT

						span.post-submit-field-type-button-description
							| I'll write a nice article


		.row.post-submit-div-url.post-submit-link
			.col-md-10.col-md-push-1
				.form-group
					.post-submit-field-favicon
						i.di-link

					.post-submit-field-loading
					| {{ submit_post_form.url(type='url', class='form-control post-submit-field-url', placeholder='Paste or type the URL here') }}


		.row.post-submit-div-title
			.col-md-10.col-md-push-1
				.form-group
					| {{ submit_post_form.title(class='form-control post-submit-field-title', placeholder='Title for your submission. e.g: "My latest work"') }}
					| {% if submit_post_form.title.errors %}
					ul.error
						| {% for error in submit_post_form.title.errors %}
						li {{ error }}
						| {% endfor %}
					| {% endif %}


		.row.post-submit-div-content.post-submit-article
			.col-md-10.col-md-push-1
				.form-group.post-submit-field
					| {{ submit_post_form.content(class='form-control post-submit-field-content', id='post_content', placeholder='Text of your submission') }}
				.post-submit-preview
				.post-submit-preview-meta
					a.md(
						target="_blank",
						href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet")
						| Markdown Cheatsheet


		.row.post-submit-div-category
			.col-md-10.col-md-push-1
				span Choose a category

				.form-group
					| {{ submit_post_form.category_id(class='form-control post-submit-field-category', placeholder='Category') }}


		.row.post-submit-div-picture
			.col-md-10.col-md-push-1
				span Upload an image
				.form-group
					| {{ submit_post_form.picture(class='form-control post-submit-field-picture') }}


		.row.post-submit-div-picture-remote
			span.post-submit-div-picture-remote-overlay
			.picture-remote-container
			span#dismiss-picture-remote.dialog__button-close
				i.di-cancel


		.post-submit-div-submit
			.row
				.col-md-6.col-md-push-3
					button.btn.btn-default.btn-block.submit.post-submit-field-submit(
						type="submit")
						i.di-check
						|  Submit!

script.
	$(document).ready(function() {
		var csrftoken = $('meta[name=csrf-token]').attr('content');

		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken)
				}
			}
		});


		{% if current_user.is_authenticated() %}

		// Temporary solution for embedly
		$('.post-submit-div-title').show();
		$('.post-submit-div-category').show();
		$('.post-submit-div-picture').show();
		$('.post-submit-field-loading').removeClass('disabled error');
		$('.post-submit-div-submit').show();

		$.embedly.defaults.key = '{{config.EMBEDLY_APY_KEY}}';

		//- $('#url').keyup(function (event) {
		//- 	var url = $('#url').val();

		//- 	// We're trying to load the link stuff
		//- 	$('.post-submit-field-loading').html('<i class="di-spinner spin"></i>');

		//- 	$.embedly.extract(url).progress(function (data) {

		//- 		$('.post-submit-field-loading').removeClass('error');

		//- 		if (data.url == '') {
		//- 			$('.post-submit-field-loading').html('');
		//- 		}
		//- 		;

		//- 		// Clear the loading
		//- 		if (data.error) {
		//- 			$('.post-submit-field-loading').html('');
		//- 			$('.post-submit-field-loading').removeClass('success');
		//- 			$('.post-submit-field-loading').addClass('error');
		//- 			$('.post-submit-field-submit').addClass('disabled');
		//- 		} else {
		//- 			$('.post-submit-field-loading').html('<i class="di-check"></i>');
		//- 			$('.post-submit-field-loading').addClass('success');
		//- 			$('.post-submit-field-submit').removeClass('disabled');
		//- 		}
		//- 		;

		//- 		if (data.error_code) {
		//- 			$('.post-submit-field-loading').html(data.error_code);
		//- 			$('.post-submit-field-loading').addClass('error');
		//- 			$('.post-submit-field-submit').addClass('disabled');
		//- 		} else {
		//- 			$('.post-submit-field-loading').removeClass('error');
		//- 		}
		//- 		;

		//- 		if (data.favicon_url) {
		//- 			$('.post-submit-field-favicon').html('<img src="' + data.favicon_url + '"/>')
		//- 		} else {
		//- 			$('.post-submit-field-favicon').html('<i class="di-link"></i>')
		//- 		}
		//- 		;

		//- 		$('.post-submit-div-title').show();
		//- 		$('.post-submit-div-category').show();
		//- 		$('.post-submit-div-picture').show();

		//- 		if (data.title) {
		//- 			$('#title').val(data.title);
		//- 		}
		//- 		;

		//- 		if (data.images && data.images.length > 0) {
		//- 			$('.picture-remote-container').html('<img src="' + data.images[0].url + '"/>');
		//- 			$('.post-submit-div-picture-remote').css('display', 'block');
		//- 			$('#picture_remote').val(data.images[0].url);
		//- 			$('.post-submit-div-picture').hide();
		//- 		}
		//- 		;

		//- 		$('.post-submit-div-submit').show();

		//- 	}); // embedly
		//- });

		$('#dismiss-picture-remote').click(function () {
			$('#picture_remote').val('');
			$('.post-submit-div-picture-remote').css('display', 'none');
			$('.post-submit-div-picture').show();
		});
		{% endif %}


		$("#submit_post_form").on("submit", function (e) {

				e.preventDefault();

				// Let us know submission is in progress
				$('.post-submit-field-submit').html('<i class="di-spinner spin"></i> <i>Submitting...</i>');

				var data = $(this).serialize();
				var url = $(this).attr('action');
				var formData = new FormData($(this)[0]);
				$.ajax({
							url: url,
							type: 'POST',
							data: formData,
							processData: false,
							contentType: false,
							cache: false
						})
				.done(function(data){

					// All went just fine! Let's see the post
					$('.post-submit-field-submit').removeClass('houston');
					$('.post-submit-field-submit').addClass('success');
					$('.post-submit-field-submit').html('<i class="di-check"></i> Success!');
					window.location.replace(data['post_url']);

				})
				.fail(function(data){

					// Problem found!
					$('.post-submit-field-submit').addClass('houston');
					$('.post-submit-field-submit').html('<i class="di-unhappy"></i> Houston! Try again?');

				});
		});


		/* Build the markdown preview when typing in textarea */

		var convert = new Markdown.getSanitizingConverter();
		Markdown.Extra.init(convert);
		convert = convert.makeHtml;

		var $textarea = $('.post-submit-field-content'),
				$container = $('.post-submit-article'),
				$preview = $('.post-submit-preview');

		// As we type in the textarea
		$textarea.keyup(function(event) {

			// Convert markdown
			$preview.html(convert($textarea.val()));

			// While we are at it, style when empty
			if ($textarea.val()) {
				$preview.show();
			} else {
				$preview.hide();
			};

		}).trigger('keyup');



		// Change type of submission
		$('.select-change').click(function(){
			$('#post_type_id').val($(this).data('val'));

			$('.select-change').each(function(){
				$(this).removeClass('activato');
			});

			$(this).addClass('activato');

			$('.post-submit-div-title').show();
			$('.post-submit-div-category').show();
			$('.post-submit-div-picture').show();
			$('.post-submit-div-submit').show();

			// if ($('#post_picture_remote').val() != ''){
			//   $('.post-submit-div-picture').hide();
			// };

			if ($('#post_type_id').val() == 1){

				$('.post-submit-link').show();
				$('.post-submit-article').hide();

				$('#url').focus()

				//- $('.post-submit-field-submit').addClass('disabled');

			};

			if ($('#post_type_id').val() == 2){

				$('.post-submit-link').hide();
				$('.post-submit-article').show();

				$('#title').focus()

				$('.post-submit-field-submit').removeClass('disabled');

			};
		}); // change type of submission

	});
