| {% extends 'layout.html' %}
| {% from 'posts/_macros.html' import category_dropdown %}

| {% block og %}
meta(property="og:type", content="website")
meta(property="og:title", content="{{ config.SETTINGS_TITLE | safe}}")
meta(property="og:url", content="{{url_for('index')}}")
meta(property="og:image", content="{{ url_for('static', filename='images/favicon_192x192.png') }}")
| {% endblock %}

| {% block page_title %}
| {% if title == 'index_category' %}{{category}} - {% endif %}
| {% endblock%}


| {% block body %}

| {# Heavy caching starts here #}
| {% cache 60*5, 'post_list', user_string_id, category_url, page %}

// Whole page
.row
	.col-md-9.post-index

		// Header
		.row


			// Breadcrumbs
			.col-md-6.col-xs-6
				h4
					| {% if title == 'index_category' %}

					a(href="{{url_for('index')}}") Home

					strong ·

					a(href="{{url_for('posts.index_category', category=category.url)}}").
						{{category.name}}

					| {% else %}

					a(href="{{url_for('posts.index')}}") Home

					| {% endif %}

					span.badge ({{posts.items|length}})


			// Categories
			.col-md-6.col-xs-6.
				{{ category_dropdown(title, category, categories) }}


		// List o' Posts
		| {% if posts.items %}
		| {% for post in posts.items %}
		.row
			.col-md-12

				// Featured posts are special snowflakes
				| {% if post.is_featured %}

				.post-index-item.featured

					// Post Rating
					div(title="{{post.rating.positive}} Upvotes, {{post.rating.negative}} Downvotes",
							class="post-index-item-rate")

						a(title="Upvote, click again to undo",
							href="{{url_for('posts.rate', uuid=post.uuid, rating='1')}}",
							class="up{% if post.user_rating and post.user_rating.is_positive %} rated{% endif %}")
							i.di-angle-up

						span.middle {{post.rating_delta}}

						a(title="Downvote, click again to undo",
							href="{{url_for('posts.rate', uuid=post.uuid, rating='0')}}",
							class="down{% if post.user_rating and not post.user_rating.is_positive %} rated{% endif %}")
							i.di-angle-down

					// Post Title
					.post-index-item-title

						a(href="{{url_for('posts.view', category=post.category.url, uuid=post.uuid, slug=post.slug)}}").
							{{post.title}}

						span.post-index-item-title-details

							span.post-index-item-details-rating
								| {{post.rating_delta}} {% if post.rating_delta == 1 or post.rating_delta == -1 %}point{% else %}points{% endif %}
								| ·

							a.post-index-item-details-type(
								href="{% if post.post_type.url == 'link' %}{{post.content}}{% else %}{{url_for('posts.view', category=post.category.url, uuid=post.uuid, slug=post.slug)}}{% endif %}")
								| {% if post.post_type.url == 'link' %}
								img(
									title="Link",
									src="http://www.google.com/s2/favicons?domain={{post.content}}")
								| {% else %}
								i.di-text(title="Text Post")
								| {% endif %}
								|  ·

							a(href="{{url_for('index')}}p/{{post.category.url}}").
								{{post.category}}
								·

							| {% if post.comments_count > 0 %}
							a.post-index-item-details-comments(href="{{url_for('posts.view', category=post.category.url, uuid=post.uuid, slug=post.slug)}}#comments")
								i.di-comments
								| {{post.comments_count}}

							| ·

							| {% endif %}

							| {{post.pretty_creation_date}}

							small by

							| {% if post.user.deleted %}

							span.deleted(title="This account no longer exists").
								[deleted]

							| {% else %}

							a(href="{{url_for('index')}}u/{{post.user.id}}").
								{{post.user.username}}

							| {% endif %}

					// Post Title
					a(href="{{url_for('posts.view', category=post.category.url, uuid=post.uuid, slug=post.slug)}}")
						.post-index-item-featured-backdrop(style="background-image: url({{post.thumbnail('h')}});")


				// Regular posts
				| {% else %}

				div(class="post-index-item {{ loop.cycle('odd', 'even') }}")

					// Post Rating
					div(title="{{post.rating.positive}} Upvotes, {{post.rating.negative}} Downvotes",
							class="post-index-item-rate")

						a(title="Upvote, click again to undo",
							href="{{url_for('posts.rate', uuid=post.uuid, rating='1')}}",
							class="up{% if post.user_rating and post.user_rating.is_positive %} rated{% endif %}")
							i.di-angle-up.hidden-xs
							i.di-angle-up.visible-xs

						span.middle {{post.rating_delta}}

						a(title="Downvote, click again to undo",
							href="{{url_for('posts.rate', uuid=post.uuid, rating='0')}}",
							class="down{% if post.user_rating and not post.user_rating.is_positive %} rated{% endif %}")
							i.di-angle-down.hidden-xs
							i.di-angle-down.visible-xs


					// Post Circle Thingie
					a(title="View post and comments",
						href="{{url_for('posts.view', category=post.category.url, uuid=post.uuid, slug=post.slug)}}",
						class="post-index-item-type {{post.post_type.url}}{% if post.picture %} picture{% endif%}",
						style="{% if post.picture %}background: url({{post.thumbnail('s')}}) top left no-repeat{% endif %}")
						| {% if not post.picture %}
						| {% if post.post_type.url == 'link' %}
						i.di-link
						| {% elif post.post_type.url == 'text' %}
						i.di-text
						| {% endif %}
						| {% endif %}


					// Post Title
					a.post-index-item-title(
						title="{{post.title}}",
						href="{% if post.post_type.url == 'link' %}{{post.content}}{% else %}{{url_for('posts.view', category=post.category.url, uuid=post.uuid, slug=post.slug)}}{% endif %}",
						target="{% if post.post_type.url == 'link' %}_blank{% endif %}")

						| {{post.title}}

						| {% if post.post_type.url == 'link' %}
						small.post-title-url {{post.content}}
						| {% endif %}


					// Post Details
					.post-index-item-details

						// Show post points on mobile
						span.post-index-item-details-rating
							| {{post.rating_delta}} {% if post.rating_delta == 1 or post.rating_delta == -1 %}point{% else %}points{% endif %}
							span.separator

						a.post-index-item-details-type(
							href="{% if post.post_type.url == 'link' %}{{post.content}}{% else %}{{url_for('posts.view', category=post.category.url, uuid=post.uuid, slug=post.slug)}}{% endif %}")
							| {% if post.post_type.url == 'link' %}
							img(
								title="Link",
								src="http://www.google.com/s2/favicons?domain={{post.content}}")
							| {% else %}
							i.di-text(title="Text Post")
							| {% endif %}

						span.separator

						a(href="{{url_for('index')}}p/{{post.category.url}}").
							{{post.category}}

						span.separator

						a.post-index-item-details-comments(
							href="{{url_for('posts.view', category=post.category.url, uuid=post.uuid, slug=post.slug)}}#comments")

							span.hidden-xs.
								{% if post.comments_count == 0 %}
									comment
								{% elif post.comments_count == 1 %}
									1 comment
								{% else %}
									{{post.comments_count}} comments
								{% endif %}

							| {% if post.comments_count > 0 %}
							span.visible-xs
								| {{post.comments_count}}
								i.di-chat
								span.separator
							| {% endif %}

						span.separator.hidden-xs

						a(href="{{url_for('posts.view', category=post.category.url, uuid=post.uuid, slug=post.slug)}}").
							{{post.pretty_creation_date}}

						small by

						| {% if post.user.deleted %}

						span.deleted(title="This account no longer exists").
							[deleted]

						| {% else %}

						a(href="{{url_for('index')}}u/{{post.user.id}}").
							{{post.user.username}}

						| {% endif %}


						| {% if post.picture %}
						span.post-index-item-picture-collapse(title="Collapse")
							i.di-minus-square

						span.post-index-item-picture-expand(title="Expand")
							i.di-plus-square

						img.post-index-item-picture(
							title="Click and drag to resize",
							data-rel="{{post.thumbnail('l')}}",
							src="")

						| {% endif %}

					.clearfix

				| {% endif %}

		| {% endfor %}
		| {% else %}

		.post-index-empty
			h3 Nothing to see here... yet.
			h4 It's your chance, submit stuff!

		| {% endif %}


		// Pagination
		.row.text-center
			.col-md-12
				nav
					ul.pagination

						| {% if posts.has_prev %}
						li
							| {% if category %}
							a(href="{{ url_for('posts.index_category', category=category.url, page=posts.page-1) }}")
								i.di-arrow-left
							| {% else %}
							a(href="{{ url_for('posts.index', page=posts.page-1) }}")
								i.di-arrow-left
							| {% endif %}
						| {% else %}
						li.disabled
							a
								i.di-angle-left
						| {% endif %}

						| {% for post in posts.iter_pages() %}

						| {% if post %}

						| {% if post != posts.page %}
						li
							| {% if category %}
							a(href="{{ url_for('posts.index_category', category=category.url, page=post) }}").
								{{ post }}
							| {% else %}
							a(href="{{ url_for('posts.index', page=post) }}").
								{{ post }}
							| {% endif %}


						| {% else %}
						li.active
							a(href="#") {{ post }}
						| {% endif %}

						| {% else %}
						span.ellipsis …

						| {% endif %}

						| {% endfor %}

						| {% if posts.has_next %}
						li
							| {% if category %}
							a(href="{{ url_for('posts.index_category', category=category.url, page=posts.page+1) }}")
								i.di-arrow-right
							| {% else %}
							a(href="{{ url_for('posts.index', page=posts.page+1) }}")
								i.di-arrow-right
							| {% endif %}
						| {% else %}
						li.disabled
							a
								i.di-arrow-right
						| {% endif %}

	.col-md-3
		| {% include '_sidebar.html' %}


| {% endcache %}
| {# Heavy caching ends here #}

| {% endblock %}

| {% block footer_scripts %}
script.

	if ($(window).width() < 480){
		$(".post-index-item-type.picture").each(function(e){
			image_url = document.getElementsByClassName("post-index-item-type picture")[e].style.backgroundImage.slice(4, -1)
			image = image_url.split("");
			image[image.length-5] = "l";

			$(this).html('<img src="' + image.join("") + '"/>');
		});
	};

	{% if current_user.is_authenticated() %}
		$(".up").click(function(e) {
			e.preventDefault();
			var up = $(this);
			var rate = $(this).next();
			var down = $(this).next().next();
			$.get($(this).attr("href"), function(data){
				down.removeClass('rated');
				if (data['rating'] === "True") {
					up.addClass('rated');
				} else {
					up.removeClass('rated');
				}
				rate.text(data['rating_delta']);
			});
		});
		$(".down").click(function(e) {
			e.preventDefault();
			var up = $(this).prev().prev();
			var rate = $(this).prev();
			var down = $(this);
			$.get($(this).attr("href"), function(data){
				up.removeClass('rated');
				if (data['rating'] === "False") {
					down.addClass('rated');
				} else {
					down.removeClass('rated');
				}
				rate.text(data['rating_delta']);
			});
		});
	{% endif %}
| {% endblock %}
