.nav-sidebar-container
	.nav-sidebar.navigation(role="navigation")
		nav
			ul

				// Submit Button

				| {% if current_user.is_authenticated() %}

				li.navbar-submit(data-dialog="submit")
					a Submit

				| {% else %}

				li.navbar-submit.navbar-submit-disabled(
						data-toggle="popover",
						data-trigger="hover",
						data-placement="bottom"
						data-content="Sign in to Submit")
					a(href="{{url_for_security('login')}}") Submit

				| {% endif %}


				// Rest of the navigation bar
				| {% if current_user.is_authenticated() %}

				li.navbar-notifications
					a#notifications-toggle
						i.di-notifications-none
						span#notifications-count
						.flyout-hat

				li.navbar-settings
					a#popover-settings(
						href="{{url_for('settings.profile')}}",
						data-toggle="popover",
						data-trigger="hover",
						data-placement="bottom",
						data-content="Settings",
						class="{% if title in ('settings_profile', 'settings_account') %}active{% endif %}")
						i.di-cog

				li.navbar-profile
					a#popover-profile(
						href="{{url_for('index')}}u/{{current_user.id}}",
						data-toggle="popover",
						data-trigger="hover",
						data-placement="bottom",
						data-content="Profile",
						class="nav-sidebar-avatar",
						style="background-image: url({{current_user.gravatar(size=32)}})")

				li.navbar-logout
					a#popover-logout.nav-logout-widget(
						href="",
						data-toggle="popover",
						data-trigger="hover",
						data-placement="bottom",
						data-content="Log out",
						class="{% if title in ('settings_profile', 'settings_account') %}active{% endif %}")
						i.di-log-out

				| {% else %}

				li.navbar-login
					a(href="{{url_for_security('login')}}")
						i.di-log-in
						| Sign in

				| {% endif %}

	// Notifications Popup
	div#notifications.flyout.notifications
		.flyout-content
			span.flyout-title Notifications
			a#notifications-markallread(
				title="Mark All as Read",
				href="/notifications/read-all")
				| Mark All as Read

			| {% include '_notifications.html' %}

	// Newly registered member
	| {% if current_user.is_authenticated() and not current_user.username %}
	.nav-sidebar.newcomer
		p Hello there!<br/>
			a(href="{{url_for('settings.profile')}}")  What's your name?
	| {% endif %}

	// Logo
	.nav-sidebar.branding
		a(href="{{url_for('index')}}", title="{{ config.SETTINGS_TITLE | safe }}")
			img.nav-sidebar-logo(
				src="{{ config.SETTINGS_LOGO_IMAGE }}",
				title="{{ config.SETTINGS_LOGO_ALT }}")

		a(href="{{url_for('index')}}")
			h3 {{ config.SETTINGS_TITLE_HTML | safe }}

		p {{ config.SETTINGS_TAGLINE }}


	// Links on the bottom
	.nav-sidebar.meta
		p
			a(href="{{url_for('posts.feed')}}")
				i.di-rss
				|  Feed

			| {% if current_user.has_role('admin') %}

			a(href="{{url_for('admin.index')}}")
				i.di-rocket
				|  Whoosh!

			| {% endif %}
