| {% load i18n %}

.nav-tabbar-items
  a.btn(
    href="{% url 'reel-list' %}",
    class="{% if '/reels/' in request.path_info %}active{% endif %}")
    span {% trans 'Reels' %}

  a.btn(
    href="{% url 'short-list' %}",
    class="{% ifequal request.get_full_path|slice:'-1' '/theater/shorts' %}active{% endifequal %}")
    span {% trans 'Short Films' %}

  | {% if is_shorts %}
  .btn-toolbar-row
    | {% if request.user.is_authenticated %}
    a.btn(
      href="{% url 'short-list' %}?submitted-by={{ request.user.pk }}",
      class="{% if '?submitted-by' in request.get_full_path %}active{% endif %}")
      span {% trans 'My Shorts' %}
    | {% endif %}

    a.btn-cta(
      href="{% url 'short-create' %}",
      class="{% if '/shorts/submit/' in request.path_info %}active{% endif %}")
      span {% trans 'Submit Short' %}
  | {% endif %}
