| {% extends "dillo/theater/theater_base.pug" %}
| {% load i18n %}
| {% load thumbnail %}

| {% block theater-content %}

//- Notice for users without a reel.
| {% if request.user.is_authenticated %}
| {% if not user.profile.reel %}
.card.theater-header
	.card-body
		.row
			.col-md-9
				| {% url 'profile_edit' as profile_edit_url %}
				| {% blocktrans with profile_edit_url=profile_edit_url %}
				| #[strong #[i.i-star] Your reel could be here!]
				| Fill in the #[a(href="{{ profile_edit_url }}") reel section] on your profile.
				| {% endblocktrans %}

			.col-md-3
				a.btn.btn-primary.btn-block(href="{% url 'profile_edit' %}")
					span {% trans 'Add Reel to Profile' %}
| {% endif %}
| {% endif %}

| {% if object_list %}
.row.row-cols-1.row-cols-sm-2.row-cols-lg-4
	| {% for profile in object_list %}
	.col
		.card-borderless
			| {% thumbnail profile.reel_thumbnail_16_9 "640x360" crop="center" as im %}
			a.card-thumbnail(href="{% url 'reel-detail' profile.user_id %}", title="{{ profile.name }}")
				img.img-fluid(
					src="{{ im.url }}",
					width="{{ im.width }}",
					height="{{ im.height }}",
					alt="{{ profile.name }}")
			| {% endthumbnail %}
			.d-flex
				.card-header-thumbnail
					| {% include 'dillo/components/_profile_avatar.pug' with user=profile.user size='small' %}
				a.card-header-title(href="{% url 'reel-detail' profile.user_id %}")
					div {{ profile.name }}
					| {% if profile.location %}
					small {{ profile.location }}
					| {% endif %}
	| {% endfor %}

| {% else %}
.post-list-empty
	| {% url 'profile_edit' as url_short_create %}
	| {% blocktrans with url_short_create=url_short_create %}
	| No reels to show yet.
	| {% endblocktrans %}
| {% endif %}

.theater-footer
	| {% include 'dillo/components/_pagination.pug' with page=page_obj %}

| {% endblock theater-content %}

| {% block theater-nav %}
| {{ block.super }}

.pagination
	.pagination-stat {{ page_obj.paginator.count }} Reels
	| {% include 'dillo/components/_pagination.pug' with page_obj=page_obj %}
| {% endblock theater-nav %}

| {% block sidebar %}
| {% endblock sidebar %}

| {% block stream_width %}12{% endblock %}
