| {% extends "dillo/posts_base.pug" %}
| {% load i18n %}
| {% load dillo_filters %}
| {% load micawber_tags %}
| {% load thumbnail %}

| {% block page_title %}
| {% include 'dillo/components/_profile_page_title.pug' with user=user %}
| {% endblock page_title %}


| {% block stream_nav %}
.nav-tabbar
  | {% block stream_nav_items %}
  | {% include 'dillo/theater/_navigation_theater.pug' %}
  | {% endblock stream_nav_items %}

  | {% include 'dillo/components/_pagination.pug' with page=page_obj is_detail=True prev_obj_url=prev_profile_url next_obj_url=next_profile_url label="Reel" %}
| {% endblock stream_nav %}

| {% block stream %}
style.
  .stream, .sidebar {
    --accent-profile-h: {{ user.id }};
    --accent-profile: hsl(var(--accent-profile-h), 100%, 70%);
    --accent-profile-light: hsl(var(--accent-profile-h), 100%, 80%);
  }

//- Profile Reel.
| {% if user.profile.reel %}
.profile-reel
  | {{ user.profile.reel | oembed }}
| {% endif %}

| {{ block.super }}
| {% endblock stream %}


| {% block sidebar %}
//- Profile sidebar avatar and info.
.sidebar-block
  | {% include 'dillo/components/_profile_header.pug' with show_bio=True %}


//- Events attending.
| {% if user.profile.next_events_attending %}
.sidebar-block
  | {% include 'dillo/components/_feed_events.pug' with events=user.profile.next_events_attending events_title='Going To' %}
| {% endif %}


//- Share.
.sidebar-block
  | {% include 'dillo/components/_button_share.pug' with shared_object_label='profile' %}


//- Whoosh.
| {% if request.user.is_superuser %}
.sidebar-block
  | {% url 'admin:auth_user_change' user.id as edit_url %}
  | {% trans 'Whoosh User' as edit_label %}
  | {% include 'dillo/components/_button_edit.pug' with url=edit_url label=edit_label %}
| {% endif %}
| {% endblock sidebar %}

| {% block body_classes %}profile-details{% endblock %}
| {% block base_classes %}swap-direction{% endblock %}
