| {% extends "dillo/base_columns.pug" %}
| {% load i18n %}
| {% load micawber_tags %}
| {% load thumbnail %}


| {% block stream_nav %}
.nav-tabbar
  | {% block stream_nav_items %}
  | {% include 'dillo/theater/_navigation_theater.pug' with is_shorts=True %}
  | {% endblock stream_nav_items %}

  | {% include 'dillo/components/_pagination.pug' with page=page_obj label="Short" %}
| {% endblock stream_nav %}


| {% block stream %}
| {% if object_list %}
.row.cards-row
  | {% for short in object_list %}
  .col
    .card-borderless
      | {% thumbnail short.image "480" crop="center" as im %}
      a.card-thumbnail(href="{% url 'short-detail' short.pk %}", title="{{ short.title }}")
        img.img-fluid(
          src="{{ im.url }}",
          width="{{ im.width }}",
          height="{{ im.height }}",
          alt="{{ short.title }}")
      | {% endthumbnail %}
      .card-header
        a.card-header-text(href="{% url 'short-detail' short.pk %}")
          .card-title {{ short.title }}
  | {% endfor %}
| {% else %}
.post-list-empty
  | {% url 'short-create' as url_short_create %}
  | {% blocktrans with url_short_create=url_short_create %}
  p No shorts yet. #[a(href="{{ url_short_create }}") Submit your short film!]
  | {% endblocktrans %}
| {% endif %}
| {% endblock stream %}

| {% block stream_width %}12{% endblock %}
