| {% extends 'layout.html' %}

| {% block og %}
meta(property="og:type", content="profile")

| {% if user.first_name and user.first_name != 'None' %}
meta(property="og:title", content="{{user.first_name}} {{user.last_name}} - {{ config.SETTINGS_TITLE | safe}}")
| {% else %}
meta(property="og:title", content="{{user.username}} - {{ config.SETTINGS_TITLE | safe}}")
| {% endif %}

meta(property="og:url", content="{{url_for('index')}}u/{{user.id}}")

| {% if user.gravatar %}
meta(property="og:image", content="{{user.gravatar(size=192)}}")
| {% else %}
meta(property="og:image", content="{{ url_for('static', filename='images/favicon_192x192.png') }}")
| {% endif %}

| {% if user.first_name and user.first_name != 'None' %}
meta(property="profile:first_name", content="{{user.first_name}}")
| {% endif %}
| {% if user.last_name and user.last_name != 'None' %}
meta(property="profile:last_name", content="{{user.last_name}}")
| {% endif %}
meta(property="profile:username", content="{{user.username}}")
| {% endblock %}

| {% block page_title %}{{user.username}} - {% endblock %}

| {% block header %}{% endblock %}

| {% block body %}
.row
	.col-md-9.user-view

		.user-view-info

			h3
				| {% if user.first_name and user.first_name != 'None' %}
				| {{user.first_name}} {{user.last_name}}
				small  ({{user.username}})
				| {% else %}
				| {{user.username}}
				| {% endif %}


			.user-view-info-container

				.user-view-info-avatar
					img(
						src="{{user.gravatar(size=128)}}"
						title="{{user.first_name}} {{user.last_name}}")


				| {% if user.roles %}
				.user-view-info-roles
					| {% if user.has_role('cloud_member') %}
					i.bf-cloud
					|  Blender Cloud Member<br/>
					| {% endif %}
					| {% if user.has_role('dev_core') %}
					i.bf-blender
					|  Blender Core Developer<br/>
					| {% endif %}
					| {% if user.has_role('network_member') %}
					i.bf-network
					|  Blender Network Member<br/>
					| {% endif %}
					| {% if user.has_role('bfct_trainer') %}
					i.di-graduation-cap
					|  Blender Foundation Certified Trainer
					| {% endif %}

				| {% endif %}

				.user-view-info-meta
					span.karma Karma {{user.karma.value}}
					br
					| {% if user.current_login_at %}
					span.lastseen
						| Last seen {{user.current_login_at.strftime('%d %B %Y at %H:%M')}}
					| {% endif %}
					| {% if user.signup_date %}
					| -
					span.joined(title="{{user.signup_date.strftime('%d %B, %Y')}}")
						|  Joined {{user.signup_date.strftime('%B %Y')}}

					| {% endif %}


		| {% if posts %}
		.user-view-index
			h4.post-view-container-title
				a(href="{{url_for('index')}}") Home
				strong ·
				| Submissions by {{user.username}} ({{posts|length}})

			| {% for post in posts %}
			.row
				.col-md-12

					// Featured posts are special snowflakes
					| {% if post.is_featured %}

					.post-index-item.featured

						// Post Title
						.post-index-item-title

							a(href="{{url_for('posts.view', category=post.category.url, uuid=post.uuid, slug=post.slug)}}").
								{{post.title}}

							span.post-index-item-title-details

								span.post-index-item-details-rating
									| {{post.rating_delta}} {% if post.rating_delta == 1 or post.rating_delta == -1 %}point{% else %}points{% endif %}
									| ·

								a.post-index-item-details-type(
									href="{% if post.post_type.url == 'link' %}{{post.content}}{% else %}{{url_for('posts.view', category=post.category.url, uuid=post.uuid, slug=post.slug)}}{% endif %}")
									| {% if post.post_type.url == 'link' %}
									img(
										title="Link",
										src="http://www.google.com/s2/favicons?domain={{post.content}}")
									| {% else %}
									i.di-text(title="Text Post")
									| {% endif %}
									|  ·

								a(href="{{url_for('index')}}p/{{post.category.url}}").
									{{post.category}}
									·

								| {% if post.comments_count > 0 %}
								a.post-index-item-details-comments(href="{{url_for('posts.view', category=post.category.url, uuid=post.uuid, slug=post.slug)}}#comments")
									i.di-comments
									| {{post.comments_count}}

								| ·

								| {% endif %}

								| {{post.pretty_creation_date}}

								small by

								| {% if post.user.deleted %}

								span.deleted(title="This account no longer exists").
									[deleted]

								| {% else %}

								a(href="{{url_for('index')}}u/{{post.user.id}}").
									{{post.user.username}}

								| {% endif %}

						// Post Title
						a(href="{{url_for('posts.view', category=post.category.url, uuid=post.uuid, slug=post.slug)}}")
							.post-index-item-featured-backdrop(style="background-image: url({{post.thumbnail('h')}});")


					// Regular posts
					| {% else %}

					div(class="post-index-item {{ loop.cycle('odd', 'even') }}")

						// Post Circle Thingie
						a(title="View post and comments",
							href="{{url_for('posts.view', category=post.category.url, uuid=post.uuid, slug=post.slug)}}",
							class="post-index-item-type {{post.post_type.url}}{% if post.picture %} picture{% endif%}",
							style="{% if post.picture %}background: url({{post.thumbnail('s')}}) top left no-repeat{% endif %}")
							| {% if not post.picture %}
							| {% if post.post_type.url == 'link' %}
							i.di-link
							| {% elif post.post_type.url == 'text' %}
							i.di-text
							| {% endif %}
							| {% endif %}


						// Post Title
						a.post-index-item-title(
							title="{{post.title}}",
							href="{% if post.post_type.url == 'link' %}{{post.content}}{% else %}{{url_for('posts.view', category=post.category.url, uuid=post.uuid, slug=post.slug)}}{% endif %}",
							target="{% if post.post_type.url == 'link' %}_blank{% endif %}")

							| {{post.title}}

							| {% if post.post_type.url == 'link' %}
							small.post-title-url {{post.content}}
							| {% endif %}


						// Post Details
						.post-index-item-details

							// Show post points on mobile
							span.post-index-item-details-rating
								| {{post.rating_delta}} {% if post.rating_delta == 1 or post.rating_delta == -1 %}point{% else %}points{% endif %}
								span.separator

							a.post-index-item-details-type(
								href="{% if post.post_type.url == 'link' %}{{post.content}}{% else %}{{url_for('posts.view', category=post.category.url, uuid=post.uuid, slug=post.slug)}}{% endif %}")
								| {% if post.post_type.url == 'link' %}
								img(
									title="Link",
									src="http://www.google.com/s2/favicons?domain={{post.content}}")
								| {% else %}
								i.di-text(title="Text Post")
								| {% endif %}

							span.separator

							a(href="{{url_for('index')}}p/{{post.category.url}}").
								{{post.category}}

							span.separator

							a.post-index-item-details-comments(
								href="{{url_for('posts.view', category=post.category.url, uuid=post.uuid, slug=post.slug)}}#comments")

								span.hidden-xs.
									{% if post.comments_count == 0 %}
										comment
									{% elif post.comments_count == 1 %}
										1 comment
									{% else %}
										{{post.comments_count}} comments
									{% endif %}

								| {% if post.comments_count > 0 %}
								span.visible-xs
									| {{post.comments_count}}
									i.di-comments
									span.separator
								| {% endif %}

							span.separator.hidden-xs

							a(href="{{url_for('posts.view', category=post.category.url, uuid=post.uuid, slug=post.slug)}}").
								{{post.pretty_creation_date}}

							small by

							| {% if post.user.deleted %}

							span.deleted(title="This account no longer exists").
								[deleted]

							| {% else %}

							a(href="{{url_for('index')}}u/{{post.user.id}}").
								{{post.user.username}}

							| {% endif %}


							| {% if post.picture %}
							span.post-index-item-picture-collapse(title="Collapse")
								i.di-minus-square-o

							span.post-index-item-picture-expand(title="Expand")
								i.di-plus-square-o

							img.post-index-item-picture(
								title="Click and drag to resize",
								data-rel="{{post.thumbnail('l')}}",
								src="")

							| {% endif %}

						.clearfix

					| {% endif %}

			| {% endfor %}
		| {% else %}
		.post-index-empty
			h3 Nothing to see here... yet
			h4 tell {{user.username}} to post something awesome

		| {% endif %}


	.col-md-3
		| {% include '_sidebar.html' %}


| {% endblock %}

| {% block footer_scripts %}
script(type="text/javascript").
	{% if current_user.is_authenticated() %}
		$('#popover-profile').popover();
	{% endif %}
| {% endblock %}
