| {% load i18n %}
| {% load micawber_tags %}
| {% load activity_tags %}

| {% if not object_list %}
p No item in the timeline. This is just the beginning.
| {% endif %}

| {% for activity in object_list %}

| {% if activity.action_object_content_type.name == 'post' %}
| {% include 'dillo/components/_post_list_element.pug' with post=activity.action_object %}

| {% if activity.extra.near_actions_count %}
.post-feed-more
  a.btn.btn-link(href="{{ activity.actor.profile.get_absolute_url }}")
    span
      i.i-layers
      span
        | See {{ activity.extra.near_actions_count }} more post{{ activity.extra.near_actions_count | pluralize }} by {{ activity.actor }}
| {% endif %}

| {% elif activity.action_object_content_type.name == 'short' %}
li.post-container.post-is-feed.post-feed-transparent
  .post-header
    | {% include 'dillo/components/_profile_avatar.pug' with user=activity.actor %}

    a.post-author(
      href="{% url 'profile_details' activity.actor.username %}",
      title="{{ activity.actor }}")
      span {{ activity.actor }}

    .post-feed-verb
      | {{ activity.verb }} {% trans 'the short film' %} #[a(href="{% url 'short-detail' activity.action_object.id %}") {{ activity.action_object.title }}]
      | {% if activity.extra.near_actions_count %} and {{ activity.extra.near_actions_count }} more.{% endif %}

    | {% if request.user.is_authenticated and request.user.id != activity.actor.id and not request.user|is_following:activity.actor %}
    a.post-follow(
      class="js-follow-toggle{% if request.user|is_following:activity.actor %} is-follower{% endif %}",
      data-follow_toggle_label="{% if request.user|is_following:activity.actor %}Follow{% else %}Unfollow{% endif %}"
      href="{% follow_url activity.actor %}")
      span {% if request.user|is_following:activity.actor %}Unfollow{% else %}Follow{% endif %}
    | {% endif %}

    .post-header-action
      a(href="{% url 'short-list' %}")
        | {% trans 'See All Shorts' %}

  .post-feed-verb-newline
    | {{ activity.verb }} {% trans 'the short film' %} #[a(href="{% url 'short-detail' activity.action_object.id %}") {{ activity.action_object.title }}]
    | {% if activity.extra.near_actions_count %} and {{ activity.extra.near_actions_count }} more.{% endif %}

  .post-feed-embed
    .post-feed-embed-16by9
      | {{ activity.action_object.url | oembed }}

  | {% if activity.extra.near_actions_count %}
  .post-feed-more
    a.btn.btn-link(href="{% url 'short-list' %}?sort=recent")
      span
        i.i-layers
        span
          | See {{ activity.extra.near_actions_count }} more short{{ activity.extra.near_actions_count | pluralize }}
  | {% endif %}

| {% elif activity.action_object_content_type.name == 'profile' %}
li.post-container.post-is-feed.post-feed-transparent
  .post-header
    | {% include 'dillo/components/_profile_avatar.pug' with user=activity.actor %}

    a.post-author(
      href="{% url 'profile_details' activity.actor.username %}",
      title="{{ activity.actor }}")
      span {{ activity.actor }}

    .post-feed-verb {{ activity.verb }}

    | {% if request.user.is_authenticated and request.user.id != activity.actor.id and not request.user|is_following:activity.actor %}
    a.post-follow(
      class="js-follow-toggle{% if request.user|is_following:activity.actor %} is-follower{% endif %}",
      data-follow_toggle_label="{% if request.user|is_following:activity.actor %}Follow{% else %}Unfollow{% endif %}"
      href="{% follow_url activity.actor %}")
      span {% if request.user|is_following:activity.actor %}Unfollow{% else %}Follow{% endif %}
    | {% endif %}

    .post-header-action
      a(href="{% url 'reel-list' %}")
        | {% trans 'See All Reels' %}

  .post-feed-verb-newline {{ activity.verb }}

  .post-feed-embed
    .post-feed-embed-16by9
      | {{ activity.action_object.reel | oembed }}

| {% else %}

li Unsupported item: {{ activity.action_object_content_type.name }}
| {% endif %}
| {% endfor %}

| {% if page_obj.has_next %}
li.posts-load-more
  | {% include 'dillo/components/_button_load_more.pug' with js_class='js-load-more' page_obj=page_obj %}

  script.
    $(function () {
      initTooltips();
    });
| {% endif %}

